openapi: 3.0.0
info:
  title: Vectara REST API v2
  description: "Vectara is a platform for building and operating enterprise agents.\
    \ The REST API gives you server-side control with enterprise-grade RBAC, multi-tenancy,\
    \ and full observability. Build agents that combine Vectara's multimodal retrieval\
    \ with tool use, structured instructions, and managed sessions \u2014 all through\
    \ simple REST endpoints.\n\nAll endpoints live at `https://api.vectara.io/v2/<resource>`\
    \ using lowercase paths with underscores for multi-word segments (e.g. `/corpora/:corpus_key/documents`,\
    \ `/tool_servers`).\n\n## API conventions\n\nWe follow standard REST conventions:\
    \ `GET` to read, `POST` to create, `PATCH` to partially update, `PUT` to replace,\
    \ and `DELETE` to remove. Most resources use `PATCH` for updates; a few use `PUT`\
    \ for full replacement. Actions that don't map to CRUD verbs use a separate `POST\
    \ /<resource>/<action>` path (e.g. `POST /corpora/:corpus_key/reset`).\n\n**Backward\
    \ compatibility** \u2014 New fields may be added to any response at any time.\
    \ Fields are deprecated rather than removed, and clients should ignore unknown\
    \ fields. Agent-related endpoints may see more frequent additions than the rest\
    \ of the API.\n\n## Authentication methods\n\nAuthenticate every API request with\
    \ one of these methods:\n\n**API Key** \u2014 Pass your key in the `x-api-key`\
    \ header. Create API keys with precise roles for least-privilege access. Or use\
    \ personal API keys that inherit the same roles as your user account.\n\n**OAuth\
    \ 2.0** \u2014 Use the client credentials flow to obtain a JWT token from `https://auth.vectara.io/oauth2/token`.\
    \ Pass the token in the `Authorization: Bearer <token>` header. Tokens expire\
    \ after 30 minutes.\n\n## Role-based access control\n\nEach endpoint requires\
    \ specific roles. The role badges on each endpoint page show which roles grant\
    \ access. The platform uses three role types:\n\n**API Roles** (account-wide,\
    \ assigned to users): Roles like `owner`, `administrator`, `corpus_administrator`,\
    \ `corpus_developer`, `corpus_viewer`, `agent_administrator`, `agent_developer`,\
    \ `agent_viewer`, `agent_user`, `pipeline_administrator`, `pipeline_viewer`, and\
    \ `viewer`. These grant access across all resources of that type.\n\n**Corpus\
    \ Roles** (per-corpus, assigned on specific corpora): `owner`, `administrator`,\
    \ `editor`, `viewer`. These grant access to a specific corpus only.\n\n**Agent\
    \ Roles** (per-agent, assigned on specific agents): `agent_administrator`, `agent_developer`,\
    \ `agent_viewer`, `agent_user`. These grant access to a specific agent only.\n\
    \nA user's effective permissions are the union of their API roles, corpus roles,\
    \ and agent roles. Higher roles in each hierarchy inherit lower role permissions.\
    \ See [Role-based access control](/docs/security/authorization/role-based-access-control)\
    \ for the full role hierarchy and assignment instructions.\n"
  version: '2.0'
  termsOfService: https://vectara.com/legal/terms-of-service/
  x-logo:
    url: https://docs.vectara.com/img/vectara_wordmark.png
    altText: Vectara
  x-dark-logo:
    url: https://docs.vectara.com/img/vectara_wordmark_light.png
    altText: Vectara
  contact:
    email: feedback@vectara.com
servers:
- url: https://api.vectara.io
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: Agents
  description: Create and interact with AI agents that can use tools and corpora to
    perform complex queries.
- name: Agent Sessions
  description: Manage agent sessions and interact with agents through conversational
    events.
- name: Agent End User Sessions
  description: Create and interact with agent sessions as an end user, seeing only
    your own sessions and their messages.
- name: Trusted Token Issuers
  description: Register customer identity providers whose signed tokens the platform
    accepts as end-user credentials.
- name: Widgets
  description: Bootstrap embeddable web widgets that let anonymous visitors talk to
    a published agent.
- name: Agent Schedules
  description: Create and manage scheduled automated execution of agents at specified
    intervals.
- name: Agent Identity
  description: View and manage the identity used by an agent to execute tools.
- name: Agent Secrets
  description: Manage agent-scoped secrets that tool argument overrides can reference
    via $ref.
- name: Agent Memory
  description: Read and update the agent's accumulated learned memory, with version
    history.
- name: Agent Aliases
  description: 'Manage routing aliases that map a public name to one or more agents
    under a configurable policy. Create a session through an alias (`POST /v2/agent_aliases/{alias_key}/sessions`)
    and the alias''s policy picks the underlying agent that runs.

    '
- name: Hooks
  description: Create and manage hooks that inspect and steer the agent at defined
    points during a session.
- name: Instructions
  description: Create and manage instructions that guide agent behavior.
- name: Tools
  description: Manage and discover tools available for AI agents to use in their workflows.
- name: Tool Configurations
  description: Manage reusable tool configurations that agents can reference by key.
- name: Tool Servers
  description: Manage tool servers that provide access to external tools for AI agents.
- name: Agent Connectors
  description: Create and manage connectors that allow agents to receive events from
    external platforms like Slack.
- name: Pipelines
  description: Create and manage automated data pipelines. A pipeline is a one-directional
    flow that sends all data from a source system to an agent. The pipeline creates
    a new session per source record for the agent to act on. This is distinct from
    agent schedules (recurring single executions) and connectors (bidirectional chat
    integrations like Slack).
- name: Pipeline Runs
  description: Monitor pipeline execution runs and their processing outcomes.
- name: Agent Analytics
  description: Inspect traces emitted by agent executions and retrieve evaluation
    data.
- name: CustomerMetrics
  description: Query pre-aggregated time-series and distribution metrics scoped to
    the authenticated customer.
- name: Pipeline Dead Letters
  description: View and manage dead letters (failed records) for a pipeline. Dead
    letters are pipeline-scoped and can be retried individually or in bulk.
- name: Queries
  description: Search your data and generate AI-powered summaries. After you index
    documents into corpora, use these endpoints to retrieve relevant information.
    Optionally generate grounded summaries with Retrieval Augmented Generation (RAG).
- name: Metadata Query
  description: Query across arbitrary metadata fields in a corpus.
- name: Upload
  description: Upload files to a corpus for automatic parsing, text extraction, chunking,
    and indexing.
- name: Index
  description: Index and manage both core and structured documents to enable efficient
    search and retrieval.
- name: Corpora
  description: Create, manage, and update corpora and their associated settings.
- name: Documents
  description: Retrieve and manage documents stored in a corpus for administrative
    tasks.
- name: Generation Presets
  description: Manage generation presets for controlling the behavior of generative
    AI responses.
- name: Query History
  description: Retrieve and manage the history of previous queries for analytics and
    auditing.
- name: Authentication
  description: Authenticate with the API using OAuth 2.0 or API keys.
- name: API Keys
  description: Create, manage, and revoke API keys for secure access to the platform.
- name: Application Clients
  description: Configure and manage application clients for OAuth authentication.
- name: Large Language Models
  description: List LLMs for text summarization, chat, and other generation tasks.
- name: Encoders
  description: List available encoders (such as Boomerang) that turn text into vectors.
- name: Rerankers
  description: List rerankers for reranking search results.
- name: Jobs
  description: Monitor background jobs such as rebuilding indexes or updating corpus
    settings.
- name: Users
  description: Create, manage, and authenticate users within the platform for user
    administration.
- name: Table Extractors
  description: List available extractors for tabular data from documents.
- name: Hallucination Correctors
  description: List hallucination correction models and correct hallucinated content
    in generated text.
- name: LLM Chat Completions
  description: Create model responses for chat conversations using OpenAI-compatible
    endpoints.
- name: Factual Consistency Evaluation
  description: Evaluate text quality metrics like factual consistency and hallucination
    detection.
- name: Customer Configuration
  description: Retrieve customer configuration and authentication details.
- name: Events
  description: Publish events to named streams for downstream consumption by analytics
    pipelines, data warehouses, and alerting systems.
- name: Glossaries
  description: Create and manage glossaries that map terms, acronyms, and abbreviations
    to their expanded forms. When terms in a user input event match glossary entries,
    the platform appends the matched terms and their expansions to the event as a
    hint.
- name: A2A Protocol
  description: Agent-to-Agent (A2A) protocol endpoints for interoperability with external
    A2A clients. Exposes agent discovery via Agent Cards, and message-driven Tasks
    scoped to a session.
- name: Chats
  description: 'Deprecated: use Agents instead. Chat endpoints are no longer supported.'
paths:
  /v2/corpora:
    post:
      summary: Create a corpus
      x-required-roles:
      - type: ApiRole
        roles:
        - corpus_administrator
        - administrator
        - owner
      description: 'Creates a corpus to store and manage your documents. A corpus
        is a container for documents and their associated metadata. You can set the
        corpus key, name, description, encoder, and filter attributes.


        ## Corpus object


        The `key` property is required and uniquely identifies the corpus. The `name`
        property is optional and defaults to the value of `key`. The optional `description`
        property provides additional information about the corpus. You can choose
        a `key` that follows a naming convention of your choice. An identifiable key
        makes a corpus easier to manage and reference in your application.


        Use the `queries_are_answers` and `documents_are_questions` boolean properties
        to treat queries or documents in the corpus as questions or answers. These
        settings affect the semantics of the encoder at query time and indexing time.


        ## Add metadata as filter attributes


        Define metadata fields with the `filter_attributes` object when you create
        a corpus with this endpoint or the Vectara Console. The corpus then supports
        filtering on specific metadata attributes at the document level or the part
        level.


        Filter attributes attach metadata to your data at the document (`doc`) or
        `part` level. You can use this metadata later in filter expressions to narrow
        the scope of your queries. A filter attribute must specify a unique `name`
        (up to 64 characters long) and a `level` of `doc` or `part`. At indexing time,
        the platform extracts metadata with this name and makes it available to filter
        expressions. [Learn more](https://docs.vectara.com/docs/build/prepare-data/metadata-filters)


        ### Doc and part filter levels


        The `doc` attribute applies to the entire document. Use this for metadata
        that is consistent across the whole document, such as author, publication
        date, and document ID.


        The `part` attribute applies to specific sections or chunks within a document.
        Use this for metadata that varies within different parts of the document,
        such as sections, page numbers, and sentiment scores.


        If `indexed` is true, the platform builds an index on the extracted values.
        This index improves the performance of filter expressions that use the attribute.


        Filter attributes must specify a `type`. The platform validates the type when
        documents are indexed. The four supported types are:

        * `integer`: stores signed whole-number values up to eight bytes in length.

        * `real`: stores floating point values in [IEEE 754 8-byte format].

        * `text`: stores textual strings in [UTF-8 encoding].

        * `boolean`: stores true/false values.


        After you define filter attributes, you can use them within your queries.
        For example:

        * Document-level attribute: `doc.publication_year > 2020`

        * Part-level attribute: `part.sentiment_score > 0.7`


        ## Custom dimensions


        Custom dimensions add user-defined values to your data, in addition to what
        the platform automatically extracts and stores from the text. For example,
        *upvotes* can be a custom dimension. For an example, see [Add custom dimensions
        to boost content](/docs/tutorials/add-custom-dimensions).

        '
      operationId: createCorpus
      tags:
      - Corpora
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorpusRequest'
            examples:
              Financial:
                summary: Create a corpus for storing financial documents related to
                  ESG compliance in EU banks.
                value:
                  key: fin_esg_docs
                  name: EU Bank ESG Compliance
                  description: A corpus for storing and querying financial documents,
                    such as annual reports and ESG compliance filings, for European
                    banks in 2023.
                  save_history: true
                  encoder_name: boomerang-2023-q3
                  filter_attributes:
                  - level: part
                    name: industry
                    type: text
                    description: The industry sector of the document (banking).
                    indexed: true
                  - level: part
                    name: region
                    type: text
                    description: The geographical region of the document (EU).
                    indexed: true
                  - level: part
                    name: year
                    type: integer
                    description: The publication year of the document (2023).
                    indexed: true
                  - level: part
                    name: doc_type
                    type: text
                    description: The type of document (annual_report).
                    indexed: true
              Legal:
                summary: Create a corpus for legal documents focusing on intellectual
                  property cases in California.
                value:
                  key: legal_ip_cases
                  name: California IP Case Law
                  description: A corpus for indexing and searching legal documents
                    related to intellectual property rights cases in California, including
                    court rulings and contracts.
                  save_history: true
                  encoder_name: boomerang-2023-q3
                  filter_attributes:
                  - level: part
                    name: jurisdiction
                    type: text
                    description: The legal jurisdiction of the document (California).
                    indexed: true
                  - level: part
                    name: legal_domain
                    type: text
                    description: The legal domain of the document (IP).
                    indexed: true
                  - level: part
                    name: year
                    type: integer
                    description: The year of the case or document (2023).
                    indexed: true
                  - level: part
                    name: case_name
                    type: text
                    description: The name of the legal case (TechCo v. Ex-Employee).
                    indexed: true
              Support:
                summary: Create a corpus for technical support knowledge base articles
                  addressing web portal issues.
                value:
                  key: support_web_portal
                  name: Web Portal Support KB
                  description: A corpus for storing knowledge base articles to troubleshoot
                    issues in a web portal application, focusing on part-level metadata
                    for precise query filtering.
                  save_history: true
                  encoder_name: boomerang-2023-q3
                  filter_attributes:
                  - name: product
                    level: part
                    type: text
                    description: The product or application (portal_app).
                    indexed: true
                  - name: browser
                    level: part
                    type: text
                    description: The browser used (chrome).
                    indexed: true
                  - name: category
                    level: part
                    type: text
                    description: The issue category (sso, caching).
                    indexed: true
      responses:
        '201':
          description: The response includes a unique `id` that you use to reference
            the corpus. The `name` does not need to be unique within an account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
              examples:
                Financial:
                  summary: Newly created corpus for EU bank ESG compliance documents.
                  value:
                    id: crp_1001
                    key: fin_esg_docs
                    name: EU Bank ESG Compliance
                    description: A corpus for storing and querying financial documents,
                      such as annual reports and ESG compliance filings, for European
                      banks in 2023.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - level: document
                      name: industry
                      type: text
                      description: The industry sector of the document (banking).
                      indexed: true
                    - level: document
                      name: region
                      type: text
                      description: The geographical region of the document (EU).
                      indexed: true
                    - level: document
                      name: year
                      type: integer
                      description: The publication year of the document (2023).
                      indexed: true
                    - level: document
                      name: doc_type
                      type: text
                      description: The type of document (annual_report).
                      indexed: true
                    limits:
                      used_docs: 0
                      used_parts: 0
                      used_bytes: 0
                      used_characters: 0
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Legal:
                  summary: Newly created corpus for California intellectual property
                    case law.
                  value:
                    id: crp_1002
                    key: legal_ip_cases
                    name: California IP Case Law
                    description: A corpus for indexing and searching legal documents
                      related to intellectual property rights cases in California,
                      including court rulings and contracts.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - level: document
                      name: jurisdiction
                      type: text
                      description: The legal jurisdiction of the document (California).
                      indexed: true
                    - level: document
                      name: legal_domain
                      type: text
                      description: The legal domain of the document (IP).
                      indexed: true
                    - level: document
                      name: year
                      type: integer
                      description: The year of the case or document (2023).
                      indexed: true
                    - level: document
                      name: case_name
                      type: text
                      description: The name of the legal case (TechCo v. Ex-Employee).
                      indexed: true
                    limits:
                      used_docs: 0
                      used_parts: 0
                      used_bytes: 0
                      used_characters: 0
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Support:
                  summary: Newly created corpus for web portal technical support knowledge
                    base.
                  value:
                    id: crp_1003
                    key: support_web_portal
                    name: Web Portal Support KB
                    description: A corpus for storing knowledge base articles to troubleshoot
                      issues in a web portal application, focusing on part-level metadata
                      for precise query filtering.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: product
                      level: part
                      type: text
                      description: The product or application (portal_app).
                      indexed: true
                    - name: browser
                      level: part
                      type: text
                      description: The browser used (chrome).
                      indexed: true
                    - name: category
                      level: part
                      type: text
                      description: The issue category (sso, caching).
                      indexed: true
                    limits:
                      used_docs: 0
                      used_parts: 0
                      used_bytes: 0
                      used_characters: 0
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
        '400':
          description: Invalid request body in the create corpus request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating a corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The corpus already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: create
    get:
      summary: List corpora
      x-resource-locator: implicit.viewable_corpus_keys
      x-implicit-authorization:
        type: response_filter
        resource_key: implicit.viewable_corpus_keys
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: 'Lists the corpora in your account. Results are paginated. Each
        corpus object contains basic information about the corpus. These objects contain
        less detail than the corpus returned by the Get Corpus API.


        Optional parameters control the pagination and filtering of the results. The
        limit parameter sets the maximum number of corpora to return. It defaults
        to 10 and has a maximum value of 100.

        '
      operationId: listCorpora
      tags:
      - Corpora
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - name: limit
        in: query
        description: The maximum number of corpora to return at one time.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: filter
        in: query
        description: A regular expression to filter the corpora by their name or summary.
        required: false
        schema:
          type: string
        example: Vectara Content
      - name: corpus_id
        in: query
        description: Filter corpora to only include corpora with these IDs.
        required: false
        schema:
          type: array
          items:
            type: string
            pattern: crp_[0-9]+$
        example:
        - crp_12345
      - name: page_key
        in: query
        description: The opaque cursor returned in `metadata.page_key` of the previous
          response. Omit it to fetch the first page.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The response includes an array of matching `corpora` objects
            and pagination `metadata`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCorporaResponse'
              examples:
                Legal:
                  summary: List of corpora containing legal documents, such as employment
                    contracts and non-disclosure agreements, with metadata filters
                    for jurisdiction and document type to support precise querying
                    for legal analysis
                  value:
                    corpora:
                    - id: crp_12345
                      key: legal-contracts-2025
                      name: Legal Contracts
                      description: Corpus for storing and querying employment contracts
                        and legal agreements, primarily for Delaware and California
                        jurisdictions.
                      enabled: true
                      chat_history_corpus: false
                      queries_are_answers: false
                      documents_are_questions: false
                      encoder_name: boomerang-2023-q3
                      save_history: true
                      filter_attributes:
                      - name: jurisdiction
                        level: document
                        description: The legal jurisdiction of the contract.
                        indexed: true
                        type: text
                      - name: type
                        level: document
                        description: The type of legal document (employment_contract,
                          nda).
                        indexed: true
                        type: text
                      limits:
                        used_docs: 150
                        used_parts: 4500
                        used_characters: 2500000
                        max_metadata_bytes: 10485760
                        index_rate: 0
                      created_at: '2025-06-27T13:47:00Z'
                    metadata:
                      page_key: page_legal_001
                Finance:
                  summary: List of corpora storing financial reports and equity policies
                    for banking and tech sectors, with metadata filters for sector
                    and reporting period to enable targeted financial analysis
                  value:
                    corpora:
                    - id: crp_67890
                      key: fin-reports-2025
                      name: Financial Reports
                      description: Corpus for quarterly financial reports and equity
                        compensation policies, focused on banking and technology sectors
                        in North America.
                      enabled: true
                      chat_history_corpus: false
                      queries_are_answers: false
                      documents_are_questions: false
                      encoder_name: boomerang-2023-q3
                      save_history: true
                      filter_attributes:
                      - name: sector
                        level: document
                        description: The industry sector of the financial report (Banking,
                          Technology).
                        indexed: true
                        type: text
                      - name: quarter
                        level: document
                        description: The reporting quarter (Q1-2025).
                        indexed: true
                        type: text
                      limits:
                        used_docs: 200
                        used_parts: 6000
                        used_characters: 3500000
                        max_metadata_bytes: 10485760
                        index_rate: 0
                      created_at: '2025-06-27T13:48:00Z'
                    metadata:
                      page_key: page_fin_002
                Support:
                  summary: List of corpora designed for storing chat-based support
                    ticket interactions, with metadata filters for issue type and
                    platform to facilitate troubleshooting and analysis of customer
                    support queries
                  value:
                    corpora:
                    - id: crp_98765
                      key: support-tickets-2025
                      name: Support Tickets
                      description: Corpus for storing chat-based support ticket interactions,
                        particularly for authentication and web portal issues on Chrome
                        and other platforms.
                      enabled: true
                      chat_history_corpus: true
                      queries_are_answers: false
                      documents_are_questions: false
                      encoder_name: boomerang-2023-q3
                      save_history: true
                      filter_attributes:
                      - name: issue
                        level: document
                        description: The type of support issue (auth_token_stale,
                          login_error).
                        indexed: true
                        type: text
                      - name: platform
                        level: document
                        description: The platform where the issue occurred (web_portal,
                          mobile_app).
                        indexed: true
                        type: text
                      limits:
                        used_docs: 500
                        used_parts: 10000
                        used_characters: 5000000
                        max_metadata_bytes: 10485760
                        index_rate: 0
                      created_at: '2025-06-27T13:49:00Z'
                    metadata:
                      page_key: page_support_003
        '403':
          description: Permissions do not allow listing corpora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.corpora
  /v2/corpora/{corpus_key}:
    get:
      tags:
      - Corpora
      summary: Retrieve metadata about a corpus
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - agent_user
        - agent_viewer
        - agent_developer
        - agent_administrator
        - pipeline_viewer
        - pipeline_administrator
        - viewer
        - billing_administrator
        - administrator
        - owner
      description: 'Returns metadata about a corpus without performing a search. This
        operation does not search the corpus contents. Specify the `corpus_key` to
        identify the corpus whose metadata you want to retrieve.


        This endpoint helps administrators review access control details and monitor
        the size of a corpus, such as the amount of quota consumed. You can also use
        this information to optimize search and storage use.


        For example, you can track the read and write activity of a corpus and adjust
        your security strategy proactively. If a corpus has an API key with read/write
        access that only serves high volume reads, you may decide to switch to a read-only
        key.


        You can also respond to a security incident by disabling a corpus based on
        information returned by this endpoint.


        ## Get the number of documents or document parts in a corpus


        Document usage metrics help administrators manage resource allocation, keep
        data usage within allocated quotas, and identify trends in document growth
        and document segmentation.


        The `limits` object in the response describes the current usage and limits
        of a corpus. This includes the number of stored documents, document parts,
        and the character count.

        '
      operationId: getCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
        examples:
          Financial:
            summary: Retrieve metadata for the EU bank ESG compliance corpus
            value: fin_esg_docs
          Legal:
            summary: Retrieve metadata for the California IP case law corpus
            value: legal_ip_cases
          Support:
            summary: Retrieve metadata for the web portal support knowledge base corpus
            value: support_web_portal
      responses:
        '200':
          description: The response includes details such as the corpus ID, key, name,
            description, enabled status, encoder information, filter attributes, custom
            dimensions, and usage limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
              examples:
                Financial:
                  summary: Metadata for the EU bank ESG compliance corpus
                  value:
                    id: crp_1001
                    key: fin_esg_docs
                    name: EU Bank ESG Compliance
                    description: A corpus for storing and querying financial documents,
                      such as annual reports and ESG compliance filings, for European
                      banks in 2023.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: industry
                      type: text
                      level: document
                      description: The industry sector of the document (banking).
                      indexed: true
                    - name: region
                      type: text
                      level: document
                      description: The geographical region of the document (EU).
                      indexed: true
                    - name: year
                      type: integer
                      level: document
                      description: The publication year of the document (2023).
                      indexed: true
                    - name: doc_type
                      type: text
                      level: document
                      description: The type of document (annual_report).
                      indexed: true
                    limits:
                      used_docs: 150
                      used_parts: 4500
                      used_bytes: 0
                      used_characters: 1200000
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Legal:
                  summary: Metadata for the California IP case law corpus
                  value:
                    id: crp_1002
                    key: legal_ip_cases
                    name: California IP Case Law
                    description: A corpus for indexing and searching legal documents
                      related to intellectual property rights cases in California,
                      including court rulings and contracts.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: jurisdiction
                      type: text
                      level: document
                      description: The legal jurisdiction of the document (California).
                      indexed: true
                    - name: legal_domain
                      type: text
                      level: document
                      description: The legal domain of the document (IP).
                      indexed: true
                    - name: year
                      type: integer
                      level: document
                      description: The year of the case or document (2023).
                      indexed: true
                    - name: case_name
                      type: text
                      level: document
                      description: The name of the legal case (TechCo v. Ex-Employee).
                      indexed: true
                    limits:
                      used_docs: 200
                      used_parts: 6000
                      used_bytes: 0
                      used_characters: 1800000
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Support:
                  summary: Metadata for the web portal support knowledge base corpus
                  value:
                    id: crp_1003
                    key: support_web_portal
                    name: Web Portal Support KB
                    description: A corpus for storing knowledge base articles to troubleshoot
                      issues in a web portal application, focusing on part-level metadata
                      for precise query filtering.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: product
                      type: text
                      level: part
                      description: The product or application (portal_app).
                      indexed: true
                    - name: browser
                      type: text
                      level: part
                      description: The browser used (chrome).
                      indexed: true
                    - name: category
                      type: text
                      level: part
                      description: The issue category (sso, caching).
                      indexed: true
                    limits:
                      used_docs: 100
                      used_parts: 3000
                      used_bytes: 0
                      used_characters: 900000
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
        '403':
          description: Permissions do not allow retrieving the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: get
    delete:
      tags:
      - Corpora
      summary: Delete a corpus and all its data
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - owner
      - type: ApiRole
        roles:
        - corpus_administrator
        - administrator
        - owner
      description: 'Permanently deletes a corpus and all its associated data. The
        `corpus_key` uniquely identifies the corpus.


        On successful completion, the space quota consumed by the corpus is freed.
        The corpus is no longer usable for indexing or querying.


        :::note

        The corpus_key assigned to the corpus is released and can be reused.

        :::

        '
      operationId: deleteCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to delete.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully deleted a corpus.
        '403':
          description: Permissions do not allow deleting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: delete
    patch:
      tags:
      - Corpora
      summary: Update a corpus
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: 'Enables, disables, or updates the name and description of a corpus.
        Use this endpoint to manage the availability of data, such as taking a corpus
        offline without deleting it.


        You can also use automated scripts to control the availability of corpora
        based on certain conditions. For example, quickly disable a corpus for maintenance
        updates or in response to security incidents.

        '
      operationId: updateCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to update.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCorpusRequest'
      responses:
        '200':
          description: Successfully updated the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
        '403':
          description: Permissions do not allow updating the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: update
  /v2/corpora/{corpus_key}/reset:
    post:
      tags:
      - Corpora
      summary: Remove all documents and data in a corpus
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_administrator
        - administrator
        - owner
      description: Resets a corpus. This removes all documents and data from the corpus
        but keeps the corpus itself. The `corpus_key` uniquely identifies the corpus.
        For more information, see [Create a corpus](https://docs.vectara.com/docs/rest-api/create-corpus).
      operationId: resetCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to reset.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully reset the corpus. The space quota consumed by
            the corpus is freed.
        '403':
          description: Permissions do not allow resetting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: reset
  /v2/corpora/{corpus_key}/replace_filter_attributes:
    post:
      tags:
      - Corpora
      summary: Replace the filter attributes of a corpus
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      operationId: replaceFilterAttributes
      description: 'Replaces the filter attributes of a corpus. The replacement does
        not happen immediately. This operation creates a job that completes asynchronously.
        The new filter attributes do not work until the job completes.


        Monitor the status of the filter change with the returned job ID. The `corpus_key`
        uniquely identifies the corpus.

        '
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus whose filter attributes
          are replaced.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceFilterAttributesRequest'
            examples:
              Legal:
                summary: Replace filter attributes for a legal contracts corpus to
                  enable querying by jurisdiction and document type, supporting precise
                  legal analysis
                value:
                  filter_attributes:
                  - name: jurisdiction
                    level: document
                    description: The legal jurisdiction of the contract (Delaware,
                      California).
                    indexed: true
                    type: text
                  - name: type
                    level: document
                    description: The type of legal document (employment_contract,
                      nda).
                    indexed: true
                    type: text
              Finance:
                summary: Replace filter attributes for a financial reports corpus
                  to facilitate querying by sector and reporting period, enhancing
                  financial data analysis
                value:
                  filter_attributes:
                  - name: sector
                    level: document
                    description: The industry sector of the financial report (Banking,
                      Technology).
                    indexed: true
                    type: text
                  - name: quarter
                    level: document
                    description: The reporting quarter (Q1-2025).
                    indexed: true
                    type: text
              Support:
                summary: Replace filter attributes for a support tickets corpus to
                  support querying by issue type and platform, streamlining customer
                  support troubleshooting
                value:
                  filter_attributes:
                  - name: issue
                    level: document
                    description: The type of support issue (auth_token_stale, login_error).
                    indexed: true
                    type: text
                  - name: platform
                    level: document
                    description: The platform where the issue occurred (web_portal,
                      mobile_app).
                    indexed: true
                    type: text
      responses:
        '200':
          description: Successfully created a job that replaces the filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceFilterAttributesResponse'
              examples:
                Legal:
                  summary: Initiated a job to replace filter attributes for a legal
                    contracts corpus, enabling queries by jurisdiction and document
                    type for efficient contract analysis
                  value:
                    job_id: job_legal_45678
                    status: queued
                Finance:
                  summary: Initiated a job to replace filter attributes for a financial
                    reports corpus, allowing queries by sector and quarter to support
                    detailed financial insights
                  value:
                    job_id: job_fin_78901
                    status: queued
                Support:
                  summary: Initiated a job to replace filter attributes for a support
                    tickets corpus, enabling queries by issue type and platform to
                    optimize support ticket resolution
                  value:
                    job_id: job_support_23456
                    status: queued
        '403':
          description: Permissions do not allow replacing filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: replaceFilterAttributes
  /v2/corpora/{corpus_key}/compute_size:
    post:
      tags:
      - Corpora
      summary: Compute the current size of a corpus
      x-required-roles:
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: Computes the current size of a corpus. The size includes the number
        of documents, parts, and characters. The `corpus_key` uniquely identifies
        the corpus.
      operationId: computeCorpusSize
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to compute size for.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      responses:
        '200':
          description: Successfully computed the corpus size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeCorpusSizeResponse'
        '403':
          description: Permissions do not allow computing size for this corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: compute_size
  /v2/corpora/{corpus_key}/filter_attribute_stats:
    get:
      tags:
      - Corpora
      summary: Get filter attribute statistics for corpus metadata
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: 'Returns statistics and value distributions for the filter attributes
        in a corpus. Use these statistics to understand the available filter values
        and to build effective metadata queries.


        This endpoint analyzes document and part metadata fields defined as filter
        attributes and returns:

        - **Value distributions**: Top occurring values with their counts

        - **Statistics**: Min, max, average, and sum for numeric fields


        By default, the platform computes statistics across all filter attributes
        at both the document and part levels. You can optionally:

        - Request statistics for specific fields only

        - Apply metadata filters to analyze a subset of the corpus

        - Limit the number of distinct values returned per field


        **Performance and caching**: The platform can cache results to improve performance.
        The cache duration varies by corpus size. Cached results can take up to 1
        hour to refresh for large corpora. Smaller corpora with faster query times
        have shorter cache durations (2-15 minutes) to keep data fresher.


        The `corpus_key` uniquely identifies the corpus. For more information, see
        [Create a corpus](https://docs.vectara.com/docs/rest-api/create-corpus).

        '
      operationId: getFilterAttributeStats
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to retrieve filter attribute
          statistics for.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: fields
        in: query
        description: Comma-separated list of qualified field names to retrieve statistics
          for (e.g., 'doc.category,part.status'). If omitted, returns statistics for
          all filter attributes in the corpus. Field names must match the qualified
          format 'level.fieldname' where level is either 'doc' or 'part'.
        required: false
        schema:
          type: string
        example: doc.category,doc.year,part.status
      - name: metadata_filter
        in: query
        description: Optional metadata filter expression to pre-filter documents or
          parts before computing statistics. Uses the same SQL-style filter syntax
          as query operations. When provided, statistics reflect only the filtered
          subset of the corpus.
        required: false
        schema:
          type: string
        example: doc.year >= 2020 AND doc.category = 'financial'
      - name: fuzzy_match
        in: query
        description: "Term that narrows the returned values of text attributes. A\
          \ distinct value is returned only when it contains the term, ignoring letter\
          \ case and non-alphanumeric characters on both sides \u2014 for example,\
          \ '10k' matches the values '10-K', '10K', and 'FY24 10-K'. Values of numeric\
          \ and boolean attributes are not affected. The term must contain at least\
          \ one alphanumeric character."
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 128
          pattern: .*[a-zA-Z0-9].*
        example: 10k
      - name: max_values
        in: query
        description: Maximum number of distinct values to return per field in the
          'values' array, ordered by occurrence count (descending).
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 100
        example: 50
      responses:
        '200':
          description: Successfully retrieved filter attribute statistics for the
            corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFilterAttributeStatsResponse'
              examples:
                Financial:
                  summary: Filter attribute statistics for a financial documents corpus
                    showing distribution across document categories, years, and report
                    types
                  value:
                    filter_attribute_stats:
                    - name: doc.category
                      type: text
                      description: The category of financial document (e.g., quarterly
                        report, annual filing)
                      values:
                      - value: quarterly_report
                        count: 152
                      - value: annual_filing
                        count: 89
                      - value: earnings_call
                        count: 45
                      - value: sec_filing
                        count: 28
                    - name: doc.year
                      type: integer
                      description: The fiscal year of the report
                      values:
                      - value: 2024
                        count: 128
                      - value: 2023
                        count: 95
                      - value: 2022
                        count: 72
                      - value: 2021
                        count: 48
                      - value: 2020
                        count: 21
                      stats:
                        min: 2020
                        max: 2024
                        avg: 2022.8
                        sum: 7391296
                Legal:
                  summary: Filter attribute statistics for a legal documents corpus
                    showing distribution across jurisdictions, case types, and document
                    statuses
                  value:
                    filter_attribute_stats:
                    - name: doc.jurisdiction
                      type: text
                      description: Legal jurisdiction of the case (e.g., Delaware,
                        California)
                      values:
                      - value: Delaware
                        count: 184
                      - value: California
                        count: 142
                      - value: New York
                        count: 89
                    - name: doc.case_type
                      type: text
                      description: Type of legal case
                      values:
                      - value: intellectual_property
                        count: 156
                      - value: employment
                        count: 98
                      - value: contract_dispute
                        count: 76
                      - value: corporate
                        count: 54
                      - value: other
                        count: 31
                    - name: part.reviewed
                      type: boolean
                      description: Whether this part passed legal review
                      values:
                      - value: true
                        count: 892
                      - value: false
                        count: 234
                Support:
                  summary: Filter attribute statistics for a support knowledge base
                    corpus showing distribution across products, issue categories,
                    and platforms
                  value:
                    filter_attribute_stats:
                    - name: doc.product
                      type: text
                      description: Product or service related to the support article
                      values:
                      - value: portal_app
                        count: 245
                      - value: mobile_app
                        count: 189
                      - value: api_service
                        count: 142
                      - value: desktop_client
                        count: 98
                      - value: admin_console
                        count: 67
                      - value: other
                        count: 34
                    - name: part.category
                      type: list[text]
                      description: Categories or tags for the support content (can
                        have multiple per part)
                      values:
                      - value: authentication
                        count: 456
                      - value: performance
                        count: 389
                      - value: configuration
                        count: 312
                      - value: troubleshooting
                        count: 289
                      - value: integration
                        count: 201
                    - name: doc.priority
                      type: integer
                      description: Priority level of the issue (1-5, where 1 is highest)
                      values:
                      - value: 3
                        count: 298
                      - value: 2
                        count: 245
                      - value: 4
                        count: 189
                      - value: 1
                        count: 134
                      - value: 5
                        count: 89
                      stats:
                        min: 1
                        max: 5
                        avg: 2.9
                        sum: 2776
        '400':
          description: Invalid parameters, or the corpus does not support filter attribute
            statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow retrieving filter attribute statistics
            for this corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: get_filter_attribute_stats
  /v2/corpora/{corpus_key}/upload_file:
    post:
      tags:
      - Upload
      summary: Upload a file to the corpus
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: "Uploads a file to a corpus for automatic text extraction, chunking,\
        \ and indexing. Use this endpoint for unstructured documents when you want\
        \ the platform to parse the file for you. Each uploaded file can be up to\
        \ **10 MB**.\n\nSupported file types include:\n- Markdown (`.md`)\n- PDF/A\
        \ (`.pdf`)\n- OpenOffice documents (`.odt`)\n- Microsoft Word (`.doc`, `.docx`)\n\
        - Microsoft PowerPoint (`.ppt`, `.pptx`)\n- Plain text (`.txt`)\n- HTML (`.html`)\n\
        - LXML (`.lxml`)\n- RTF (`.rtf`)\n- EPUB (`.epub`)\n- Email files (RFC 822)\
        \   \n\n:::note\nFor semi-structured documents that require more control over\
        \ fields or metadata, use the [**Create Corpus Document API**](/docs/rest-api/create-corpus-document)\
        \ instead.\n:::\n\n## Additional format support through Vectara Ingest\n\n\
        If you need to ingest additional file types or data sources, you can use the\
        \ open-source [**Vectara Ingest**](https://github.com/vectara/vectara-ingest)\
        \ Python framework. It supports connectors for websites, RSS feeds, CSV, Confluence,\
        \ HubSpot, ServiceNow, Jira, Notion, Slack, MediaWiki, GitHub, SharePoint,\
        \ Twitter/X, YouTube, and more.\n\n:::caution\nVectara Ingest is provided\
        \ as an open-source example and is not officially supported.\n:::\n\n## Multipart\
        \ form fields\n\nThis endpoint expects a `multipart/form-data` request with\
        \ the following fields:\n\n- **metadata** (optional): JSON metadata to attach\
        \ to the parsed document.  \n  Example: `metadata={\"key\":\"value\"}`\n-\
        \ **chunking_strategy** (optional): Controls how extracted text is chunked.\
        \  \n  Defaults to sentence-based chunking (one chunk per sentence).  \n \
        \ Example: `{\"type\":\"sentence_chunking_strategy\"}`. \n  Example for max\
        \ character chunking: `{\"type\":\"max_chars_chunking_strategy\",\"max_chars_per_chunk\"\
        :512}`\n- **table_extraction_config** (optional): Enables extraction of tables\
        \ from supported file types such as PDFs.  \n  Example: `{\"extract_tables\"\
        : true}`\n- **file** (required): The file to upload.\n- **filename** (required):\
        \ The desired document ID, specified within the file upload field.\n\nAuthenticate\
        \ the request with the `x-api-key` header or an OAuth bearer token:\n\n```curl\n\
        \\$ curl -L -X POST 'https://api.vectara.io/v2/corpora/:corpus_key/upload_file'\
        \ \\\n-H 'Content-Type: multipart/form-data' \\\n-H 'Accept: application/json'\
        \ \\\n-H 'x-api-key: zwt_123456' \\\n-F 'metadata=\\{\"key\": \"value\"\\\
        };type=application/json' \\\n-F 'file=@/path/to/file/file.pdf;filename=desired_filename.pdf'\n\
        \n```\n\n## Filenames with non-ASCII characters\n\nURL encode filenames that\
        \ contain non-ASCII (non-English) characters, such as Russian or Chinese.\
        \ The REST API follows web standards, which require URL-encoded file names.\n\
        \n## Set the document ID\n  \nTo set a custom Document ID, pass it as the\
        \ filename in the `Content-Disposition` header:\n\n`Content-Disposition: form-data;\
        \ name=\"file\"; filename=\"your_document_id\"`\n\nFor more information about\
        \ Content-Disposition, see the [Mozilla documentation on headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition).\n\
        \n## Attach additional metadata\n\nTo attach additional metadata to the file,\
        \ specify a metadata form field that contains a JSON string:\n\n`{ \"filesize\"\
        : 1234 }`\n\n## Tabular data extraction and summarization\n\nSet `table_extraction_config.extract_tables\
        \ = true` to extract tabular data, such as financial filings (10-K, 10-Q,\
        \ S-1). You can also apply custom prompt templates to summarize table content\
        \ during upload.\n\n:::caution\nTable extraction does not support scanned\
        \ images of tables.\n:::\n\n## Custom table summarization with prompt templates\n\
        \nThe platform supports [table summarization using custom prompt templates](https://docs.vectara.com/docs/build/working-with-tables#summarize-tables-with-custom-prompts)\
        \ during document upload. Custom prompt templates control how the LLM interprets\
        \ and summarizes table data during extraction. Customize the prompt_template\
        \ to tailor summaries for domain-specific language, analytical perspectives,\
        \ or formatting preferences.\n\n## Image support\nTo include images in structured\
        \ documents, use the [Indexing API](/docs/rest-api/create-corpus-document)\
        \ with Base64 encoding. You cannot send images directly with individual query\
        \ requests. To retrieve a specific image that is embedded within a document,\
        \ use the [Retrieve image API](/docs/rest-api/get-image)\n"
      operationId: uploadFile
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to upload the file to.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        description: The file for the platform to parse and turn into a document within
          the corpus. The first part of the multipart request can contain document
          metadata to attach to the parsed document. You can upload only one document
          at a time.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
            encoding:
              metadata:
                contentType: application/json
              chunking_strategy:
                contentType: application/json
              table_extraction_config:
                contentType: application/json
              file:
                contentType: application/octet-stream, application/pdf, application/msword,
                  application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                  application/vnd.oasis.opendocument.text, application/epub+zip, application/rtf,
                  text/html, text/plain, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                  text/markdown
              filename:
                contentType: text/plain
      responses:
        '201':
          description: The platform parsed the file and added the extracted document
            to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Upload file request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow uploading a file to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A document with the same document ID already exists in the
            corpus with different content. Delete the existing document first or use
            a unique document ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: The media type of the uploaded file is not supported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-examples:
      - code-samples:
        - language: python
          code: "from vectara import Vectara\n\nclient = Vectara(\n    api_key=\"\
            YOUR_API_KEY\",\n    # or\n    client_id=\"YOUR_CLIENT_ID\",\n    client_secret=\"\
            YOUR_CLIENT_SECRET\",\n)\nclient.upload.file(\n    corpus_key=corpus_key,\n\
            \    file=content,\n    filename=slugify(url),\n)\n"
      x-fern-sdk-group-name: upload
      x-fern-sdk-method-name: file
  /v2/corpora/{corpus_key}/documents:
    post:
      tags:
      - Index
      summary: Add a document to a corpus
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: "Adds a document to a corpus for indexing. Indexing makes the document\
        \ content available for search, retrieval, and generation. This endpoint supports\
        \ two ingestion modes: **structured** documents and **core** documents. These\
        \ modes offer different levels of control over document structure and chunking.\n\
        \nEach document becomes part of a corpus. You can use this API directly or\
        \ with [Vectara Ingest](https://github.com/vectara/vectara-ingest) or the\
        \ [File Upload API](/docs/rest-api/upload-file).\n\n## Structured documents\n\
        \nStructured documents provide a natural hierarchy, and the platform handles\
        \ chunking and metadata automatically. Use structured documents when your\
        \ content has a logical organization (titles, sections, paragraphs, and optionally\
        \ tables or images) and you prefer the platform to split the content into\
        \ search-optimized units.\n\nEach structured document contains:\n- A unique\
        \ `id` and optional `title`, `description`, and `metadata`.\n- An array of\
        \ `sections`, each with its own title, text, and optional nested sections,\
        \ tables, or images.\n- Optional `custom_dimensions` that can influence ranking\
        \ during search.\n\nAt indexing time, the platform automatically partitions\
        \ the text into document parts with a sentence-based or character-based chunking\
        \ strategy. This lets you ingest data with minimal pre-processing while maintaining\
        \ semantic integrity across context boundaries.\n\nStructured documents are\
        \ recommended for content with well-defined sections such as reports, articles,\
        \ FAQs, or documentation.\n\n## Core documents\n\nCore documents offer fine-grained,\
        \ explicit control of every part of a document that becomes searchable. Instead\
        \ of a hierarchical structure, you specify each **document part** directly\
        \ as a unit that maps 1:1 to a search result or embedding.\n\nA core document\
        \ includes:\n- A unique `id` and optional `metadata`.\n- A list of `document_parts`,\
        \ where each part includes `text`, optional `context`, `metadata`, and `custom_dimensions`.\n\
        - Optional `tables` and `images`, allowing you to represent complex structured\
        \ data like spreadsheets or charts.\n\nCore documents are designed for advanced\
        \ use cases, such as precise chunk-level optimization or experimental corpus\
        \ structures. They also suit applications where you must explicitly control\
        \ metadata-driven retrieval or ranking.\n\n## Chunking strategies    \n\n\
        By default, the platform uses **sentence-based chunking**, which provides\
        \ optimal retrieval accuracy for most datasets.\n\nFor larger documents or\
        \ performance-tuned ingestion, you can explicitly set a `chunking_strategy`:\n\
        - `sentence_chunking_strategy` \u2014 creates one chunk per sentence (default).\n\
        - `max_chars_chunking_strategy` \u2014 creates larger chunks up to a specified\
        \ character limit (`max_chars_per_chunk`), balancing retrieval speed with\
        \ contextual coherence.\n"
      operationId: createCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the queried corpus.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: wait_for
        in: query
        description: 'Controls how long the request waits before returning a response.

          - `searchable` (default): Waits until the document is fully indexed and
          immediately searchable. Use this when you need to query the document immediately
          after indexing.

          - `indexed`: Waits until the document is durably stored and will be included
          in future search results. This is faster but the document may not appear
          in search results for a brief period after the response.


          Both modes return a successful response once the specified condition is
          met.

          '
        required: false
        schema:
          type: string
          enum:
          - searchable
          - indexed
          default: searchable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
      responses:
        '201':
          description: Document added to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Document creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow adding a document to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: The document already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: create
      x-fern-examples:
      - path-parameters:
          corpus_key: my-corpus-key
        request:
          id: my-doc-id
          type: structured
          sections:
          - id: 1
            title: A nice title.
            text: I'm a nice document section.
            metadata:
              section: '1.1'
          - id: 2
            title: Another nice title.
            text: I'm another document section on something else.
            metadata:
              section: '1.2'
          metadata:
            url: https://example.com
        response:
          body: {}
    get:
      tags:
      - Documents
      summary: List the documents in the corpus
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: 'Lists the documents stored in a corpus. The response includes
        an overview of document metadata, including document IDs, tables (if table
        extraction is enabled), and pagination details.


        Use this endpoint to review the documents indexed so far and to decide which
        documents to remove. It helps you manage the document lifecycle in your environment.


        You can catalog and inventory large amounts of data, and retrieve lists of
        documents for further analysis. For example, developers can use the metadata
        to build custom search and filtering capabilities into their applications.


        Currently, the Document Admin APIs do not allow you to access the text of
        your documents.

        '
      operationId: listCorpusDocuments
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the queried corpus.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: limit
        in: query
        description: The maximum number of documents to return at one time.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 10
      - name: metadata_filter
        in: query
        description: Filter documents by metadata. Uses the same expression as a query
          metadata filter, but only allows filtering on document metadata.
        required: false
        schema:
          type: string
      - name: page_key
        in: query
        description: The opaque cursor returned in `metadata.page_key` of the previous
          response. Omit it to fetch the first page.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The response contains an array of document objects with the
            matching document IDs, metadata, tables, parts, storage usage, and metadata
            about the pagination.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocumentsResponse'
        '403':
          description: Permissions do not allow listing documents in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.documents
    delete:
      tags:
      - Documents
      summary: Bulk delete documents from a corpus
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: 'Initiates an asynchronous bulk delete operation for documents
        in a corpus.

        This operation accepts a metadata filter, a list of specific document IDs,
        or both.


        **Important**: This is a best-effort operation.

        See the response schema documentation for details on the behavior differences
        between `metadata_filter` and `document_ids` parameters.


        The operation runs as a background workflow.

        Use the returned `job_id` to track progress via the Jobs API.

        '
      operationId: bulkDeleteCorpusDocuments
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus containing documents to
          delete.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: metadata_filter
        in: query
        description: 'Filter documents by metadata. Uses the same expression as a
          query metadata filter.

          Example: `doc.status = ''archived'' AND doc.year < 2020`

          '
        required: false
        schema:
          type: string
      - name: document_ids
        in: query
        description: Comma-separated list of document IDs to delete. Maximum 10,000
          IDs per request.
        required: false
        schema:
          type: string
      - name: async
        in: query
        description: 'Whether to perform the deletion asynchronously.

          - `true` (default): Returns immediately with job_id to track progress (HTTP
          202)

          - `false`: Waits for completion and returns deletion results (HTTP 200)


          When `async=false`, the operation waits for the deletion to complete, up
          to the timeout specified in the `Request-Timeout` or `Request-Timeout-Millis`
          header.

          If no timeout header is provided, defaults to 7 days.

          If the operation times out, returns HTTP 504 with job_id to track via Jobs
          API.


          The operation continues running in the background even if the wait times
          out.

          '
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: The bulk delete result (synchronous mode).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteDocumentsResponse'
        '202':
          description: Bulk delete operation accepted and queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteDocumentsResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow bulk deleting documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '504':
          description: Synchronous operation timed out. The error message contains
            the job_id to track status via Jobs API. The operation continues running
            in the background.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: bulk_delete
    patch:
      tags:
      - Documents
      summary: Bulk update document metadata
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: 'Initiates an asynchronous bulk metadata update for documents in
        a corpus.

        Select documents with either `document_ids` or `metadata_filter`. If `document_ids`
        is provided, `metadata_filter` is ignored.

        The same metadata object (from the request body) is applied to every matched
        document, using the chosen `strategy`.

        `merge` (default) adds or overwrites only the supplied fields and leaves the
        rest intact; `replace` overwrites the entire metadata object.


        **Important**: This is a best-effort operation.

        See the response schema documentation for details on the behavior differences
        between `metadata_filter` and `document_ids` parameters.


        Use the returned `job_id` to track progress via the Jobs API.

        '
      operationId: bulkUpdateCorpusDocumentMetadata
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus containing documents to
          update.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: metadata_filter
        in: query
        description: 'Filter documents by metadata. Uses the same expression as a
          query metadata filter.

          Ignored when `document_ids` is provided.

          Example: `doc.status = ''archived'' AND doc.year < 2020`

          '
        required: false
        schema:
          type: string
      - name: document_ids
        in: query
        description: Comma-separated list of document IDs to update. Takes precedence
          over `metadata_filter`. Maximum 10,000 IDs per request.
        required: false
        schema:
          type: string
      - name: async
        in: query
        description: 'Whether to perform the update asynchronously.

          - `true` (default): Returns immediately with job_id to track progress (HTTP
          202)

          - `false`: Waits for completion and returns update results (HTTP 200)


          When `async=false`, the operation waits for the update to complete, up to
          the timeout specified in the `Request-Timeout` or `Request-Timeout-Millis`
          header.

          If no timeout header is provided, defaults to 7 days.

          If the operation times out, returns HTTP 504 with job_id to track via Jobs
          API.


          The operation continues running in the background even if the wait times
          out.

          '
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateDocumentMetadataRequest'
      responses:
        '200':
          description: The bulk metadata update result (synchronous mode).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateDocumentMetadataResponse'
        '202':
          description: Bulk metadata update accepted and queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateDocumentMetadataResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow bulk updating document metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '504':
          description: Synchronous operation timed out. The error message contains
            the job_id to track status via Jobs API. The operation continues running
            in the background.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: bulk_update_metadata
  /v2/corpora/{corpus_key}/documents/{document_id}:
    delete:
      tags:
      - Documents
      summary: Delete a document
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: Permanently deletes a document from a corpus. The unique `document_id`
        identifies the document. This operation cannot be undone, so use it with caution.
      operationId: deleteCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus with the document to delete.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to delete. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted the document.
        '403':
          description: Permissions do not allow deleting a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: delete
    get:
      tags:
      - Documents
      summary: Retrieve a document
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: 'Returns the content and metadata of a specific document in a corpus.
        The unique `document_id` identifies the document. The response includes the
        full details of the document, including its text, metadata, and associated
        tables, if table extraction is enabled.


        Use this endpoint to analyze the details of a specific document or to integrate
        document content into your application workflows.

        '
      operationId: getCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus containing the document
          to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to retrieve. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow retrieving a document from the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: get
    patch:
      tags:
      - Index
      summary: Update a document, merging its metadata
      x-resource-locator: path.corpus_key
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: Updates a document in a corpus. The unique `document_id` identifies
        the document. The platform merges the request body metadata with the existing
        metadata, adding or modifying only the specified fields.
      operationId: updateCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus with the document to update.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to update. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocumentRequest'
      responses:
        '200':
          description: Successfully updated the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow updating a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
[...]
