openapi: 3.0.0
info:
  title: Vectara REST API v2
  description: "The Vectara Platform to context engineer Enterprise Agents. The REST\
    \ API gives you server-side control with enterprise-grade RBAC, multi-tenancy,\
    \ and full observability. Build agents that combine Vectara's multimodal retrieval\
    \ with tool use, structured instructions, and managed sessions \u2014 all through\
    \ simple REST endpoints.\n\nAll endpoints live at `https://api.vectara.io/v2/<resource>`\
    \ using lowercase paths with underscores for multi-word segments (e.g. `/corpora/:corpus_key/documents`,\
    \ `/tool_servers`).\n\n## API conventions\n\nWe follow standard REST conventions:\
    \ `GET` to read, `POST` to create, `PATCH` to partially update, `PUT` to replace,\
    \ and `DELETE` to remove. Most resources use `PATCH` for updates; a few use `PUT`\
    \ for full replacement. Actions that don't map to CRUD verbs use a separate `POST\
    \ /<resource>/<action>` path (e.g. `POST /corpora/:corpus_key/reset`).\n\n**Backward\
    \ compatibility** \u2014 New fields may be added to any response at any time.\
    \ Fields are never removed, only deprecated. Clients should ignore unknown fields.\
    \ We aim for strong backward compatibility, though the agentic AI space is evolving\
    \ rapidly and agent-related APIs may see more frequent additions.\n\n## Authentication\
    \ methods\n\nEvery API request must be authenticated using one of these methods:\n\
    \n**API Key** \u2014 Pass your key in the `x-api-key` header. Create API keys\
    \ with precise roles for least-privilege access, or use personal API keys that\
    \ inherit the same roles as your user account.\n\n**OAuth 2.0** \u2014 Use the\
    \ client credentials flow to obtain a JWT token from `https://auth.vectara.io/oauth2/token`,\
    \ then pass it in the `Authorization: Bearer <token>` header. Tokens expire after\
    \ 30 minutes.\n\n## Role-based access control\n\nEach endpoint requires specific\
    \ roles. The role badges on each endpoint page show which roles grant access.\
    \ Vectara uses three role types:\n\n**API Roles** (account-wide, assigned to users):\
    \ Roles like `owner`, `administrator`, `corpus_administrator`, `corpus_developer`,\
    \ `corpus_viewer`, `agent_administrator`, `agent_developer`, `agent_viewer`, `agent_user`,\
    \ `pipeline_administrator`, `pipeline_viewer`, and `viewer`. These grant access\
    \ across all resources of that type.\n\n**Corpus Roles** (per-corpus, assigned\
    \ on specific corpora): `owner`, `administrator`, `editor`, `viewer`. These grant\
    \ access to a specific corpus only.\n\n**Agent Roles** (per-agent, assigned on\
    \ specific agents): `agent_administrator`, `agent_developer`, `agent_viewer`,\
    \ `agent_user`. These grant access to a specific agent only.\n\nA user's effective\
    \ permissions are the union of their API roles, corpus roles, and agent roles.\
    \ Higher roles in each hierarchy inherit lower role permissions. See [Role-based\
    \ access control](/docs/security/authorization/role-based-access-control) for\
    \ the full role hierarchy and assignment instructions.\n"
  version: '2.0'
  termsOfService: https://vectara.com/legal/terms-of-service/
  x-logo:
    url: https://docs.vectara.com/img/vectara_wordmark.png
    altText: Vectara
  x-dark-logo:
    url: https://docs.vectara.com/img/vectara_wordmark_light.png
    altText: Vectara
  contact:
    email: feedback@vectara.com
servers:
- url: https://api.vectara.io
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: Agents
  description: Create and interact with AI agents that can use tools and corpora to
    perform complex queries.
- name: Agent Sessions
  description: Manage agent sessions and interact with agents through conversational
    events.
- name: Agent Schedules
  description: Create and manage scheduled automated execution of agents at specified
    intervals.
- name: Agent Identity
  description: View and manage the identity used by an agent to execute tools.
- name: Agent Secrets
  description: Manage agent-scoped secrets that can be referenced from tool argument
    overrides via $ref.
- name: Agent Memory
  description: Read and update the agent's accumulated learned memory, with version
    history.
- name: Agent Aliases
  description: 'Manage routing aliases that map a public name to one or more agents
    under a configurable policy. Create a session through an alias (`POST /v2/agent_aliases/{alias_key}/sessions`)
    and the alias''s policy picks the underlying agent that runs.

    '
- name: Guardrails
  description: List predefined guardrails for validating tool calls, agent outputs,
    and agent actions.
- name: Instructions
  description: Create and manage instructions that guide agent behavior.
- name: Tools
  description: Manage and discover tools available for AI agents to use in their workflows.
- name: Tool Configurations
  description: Manage reusable tool configurations that agents can reference by key.
- name: Tool Servers
  description: Manage tool servers that provide access to external tools for AI agents.
- name: Agent Connectors
  description: Create and manage connectors that allow agents to receive events from
    external platforms like Slack.
- name: Pipelines
  description: Create and manage automated data pipelines. A pipeline is a one-directional
    flow that sends all data from a source system to an agent, creating a new session
    per source record for the agent to act on. This is distinct from agent schedules
    (recurring single executions) and connectors (bidirectional chat integrations
    like Slack).
- name: Pipeline Runs
  description: Monitor pipeline execution runs and their processing outcomes.
- name: Agent Analytics
  description: Inspect traces emitted by agent executions and retrieve evaluation
    data.
- name: CustomerMetrics
  description: Query pre-aggregated time-series and distribution metrics scoped to
    the authenticated customer.
- name: Pipeline Dead Letters
  description: View and manage dead letters (failed records) for a pipeline. Dead
    letters are pipeline-scoped and can be retried individually or in bulk.
- name: Queries
  description: The Query APIs are the primary interface for searching your data and
    generating AI-powered summaries. After indexing documents into corpora, you use
    these endpoints to retrieve relevant information and optionally generate grounded
    summaries using Retrieval Augmented Generation (RAG).
- name: Metadata Query
  description: Query across arbitrary metadata fields in a corpus.
- name: Upload
  description: Upload files to a corpus for automatic parsing, text extraction, chunking,
    and indexing.
- name: Index
  description: Index and manage both core and structured documents to enable efficient
    search and retrieval.
- name: Corpora
  description: Create, manage, and update corpora and their associated settings.
- name: Documents
  description: Retrieve and manage documents stored in a corpus for administrative
    tasks.
- name: Generation Presets
  description: Manage generation presets for controlling the behavior of generative
    AI responses.
- name: Query History
  description: Retrieve and manage the history of previous queries for analytics and
    auditing.
- name: Authentication
  description: Authenticate with the API using OAuth 2.0 or API keys.
- name: API Keys
  description: Create, manage, and revoke API keys for secure access to the platform.
- name: Application Clients
  description: Configure and manage application clients for OAuth authentication.
- name: Large Language Models
  description: List LLMs for text summarization, chat, and other generation tasks.
- name: Encoders
  description: List available encoders (such as Boomerang) that turn text into vectors.
- name: Rerankers
  description: List rerankers for reranking search results.
- name: Jobs
  description: Monitor background jobs such as rebuilding indexes or updating corpus
    settings.
- name: Users
  description: Create, manage, and authenticate users within the platform for user
    administration.
- name: Table Extractors
  description: List available extractors for tabular data from documents.
- name: Hallucination Correctors
  description: API for managing hallucination correction, including listing available
    models and correcting hallucinated content in generated text.
- name: LLM Chat Completions
  description: Create model responses for chat conversations using OpenAI-compatible
    endpoints.
- name: Factual Consistency Evaluation
  description: Evaluate text quality metrics like factual consistency and hallucination
    detection.
- name: Customer Configuration
  description: Retrieve customer configuration and authentication details.
- name: Events
  description: Publish events to named streams for downstream consumption by analytics
    pipelines, data warehouses, and alerting systems.
- name: Glossaries
  description: Create and manage glossaries that map terms, acronyms, and abbreviations
    to their expanded forms. Agents can be reminded by glossaries to map domain specific
    terms to other terms.
- name: Chats
  description: 'Deprecated: use Agents instead. Chat endpoints are no longer supported.'
paths:
  /v2/corpora:
    post:
      summary: Create a corpus
      x-required-roles:
      - type: ApiRole
        roles:
        - corpus_administrator
        - administrator
        - owner
      description: "The Create Corpus API lets you create a corpus to store and manage\
        \ your documents. A corpus is a container for documents and their associated\
        \ metadata. When creating a corpus, you can specify various settings such\
        \ as the corpus key, name, description, encoder, and filter attributes.\n\n\
        ## Corpus object\n\nWhen you create a `corpus` object, the `corpus_key` property\
        \ is required to uniquely identify the corpus. The `name` parameter is optional\
        \ and defaults to the value of `key`. The optional `description` properties\
        \ lets you provide additional information about the corpus. When creating\
        \ a new corpus, you also have the flexibility to specify a custom `corpus_key`\
        \ that follows a naming convention of your choice. This allows you to assign\
        \ easily identifiable keys to your corpora, making it easier to manage and\
        \ reference them in your application.\n\nYou can specify whether to treat\
        \ queries or documents in the corpus as questions or answers using the `queries_are_answers`\
        \ and `documents_are_questions` boolean properties. These settings affect\
        \ the semantics of the encoder used at query time and indexing time.\n\n##\
        \ Add metadata as filter attributes\n\nWhen creating a corpus with this endpoint\
        \ or the Vectara Console, you define metadata fields using the `filter_attributes`\
        \ object. This ensures the corpus supports filtering on specific metadata\
        \ attributes, either at the document level or the part level.\n\nFilter attributes\
        \ enable you to attach metadata to your data at the document (`doc`) or `part`\
        \ level, which you can use later in filter expressions to narrow the scope\
        \ of your queries. A filter attribute must specify a unique `name` (up to\
        \ 64 characters long), and a `level` which indicates whether it exists in\
        \ the `doc` or `part` level metadata. At indexing time, metadata with this\
        \ name is extracted and made available for filter expressions to operate on.\
        \ [Learn more](https://docs.vectara.com/docs/build/prepare-data/metadata-filters)\n\
        \n### Doc and part filter levels\n\nThe `doc` attribute applies to the entire\
        \ document. Use this for metadata that is consistent across the whole document,\
        \ such as author, publication date, and document ID.\n\nThe `part` attribute\
        \ applies to specific sections or chunks within a document. Use for metadata\
        \ that may vary within different parts of the document, such as sections,\
        \ page numbers, and sentiment scores.\n\nIf `indexed` is true, the system\
        \ will build an index on the extracted values to further improve the performance\
        \ of filter expressions involving the attribute.\n\nFilter attributes must\
        \ specify a `type`, which is validated when documents are indexed. The four\
        \ supported types are `integer`, which stores signed whole-number values up\
        \ to eight bytes in length; `real`, for storing floating point values in [IEEE\
        \ 754 8-byte format]; `text` for storing textual strings in [UTF-8 encoding],\
        \ and `boolean` for storing true/false values.\n\nAfter you define filter\
        \ attributes, you can use them within your queries. For example:\n* Document-level\
        \ attribute: `doc.publication_year > 2020`\n* Part-level attribute: `part.sentiment_score\
        \ > 0.7`\n\n## Custom dimensions \nCustom dimensions let you add additional\
        \ context to your data that contain user-defined values in addition to what\
        \ Vectara automatically extracts and stores from the text. For example, *upvotes*\
        \ can be a custom dimension. For example, see [Add custom dimensions to boost\
        \ content](/docs/tutorials/add-custom-dimensions).\"\n"
      operationId: createCorpus
      tags:
      - Corpora
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorpusRequest'
            examples:
              Financial:
                summary: Create a corpus for storing financial documents related to
                  ESG compliance in EU banks.
                value:
                  key: fin_esg_docs
                  name: EU Bank ESG Compliance
                  description: A corpus for storing and querying financial documents,
                    such as annual reports and ESG compliance filings, for European
                    banks in 2023.
                  save_history: true
                  encoder_name: boomerang-2023-q3
                  filter_attributes:
                  - level: part
                    name: industry
                    type: text
                    description: The industry sector of the document (banking).
                    indexed: true
                  - level: part
                    name: region
                    type: text
                    description: The geographical region of the document (EU).
                    indexed: true
                  - level: part
                    name: year
                    type: integer
                    description: The publication year of the document (2023).
                    indexed: true
                  - level: part
                    name: doc_type
                    type: text
                    description: The type of document (annual_report).
                    indexed: true
              Legal:
                summary: Create a corpus for legal documents focusing on intellectual
                  property cases in California.
                value:
                  key: legal_ip_cases
                  name: California IP Case Law
                  description: A corpus for indexing and searching legal documents
                    related to intellectual property rights cases in California, including
                    court rulings and contracts.
                  save_history: true
                  encoder_name: boomerang-2023-q3
                  filter_attributes:
                  - level: part
                    name: jurisdiction
                    type: text
                    description: The legal jurisdiction of the document (California).
                    indexed: true
                  - level: part
                    name: legal_domain
                    type: text
                    description: The legal domain of the document (IP).
                    indexed: true
                  - level: part
                    name: year
                    type: integer
                    description: The year of the case or document (2023).
                    indexed: true
                  - level: part
                    name: case_name
                    type: text
                    description: The name of the legal case (TechCo v. Ex-Employee).
                    indexed: true
              Support:
                summary: Create a corpus for technical support knowledge base articles
                  addressing web portal issues.
                value:
                  key: support_web_portal
                  name: Web Portal Support KB
                  description: A corpus for storing knowledge base articles to troubleshoot
                    issues in a web portal application, focusing on part-level metadata
                    for precise query filtering.
                  save_history: true
                  encoder_name: boomerang-2023-q3
                  filter_attributes:
                  - name: product
                    level: part
                    type: text
                    description: The product or application (portal_app).
                    indexed: true
                  - name: browser
                    level: part
                    type: text
                    description: The browser used (chrome).
                    indexed: true
                  - name: category
                    level: part
                    type: text
                    description: The issue category (sso, caching).
                    indexed: true
      responses:
        '201':
          description: The response message returns a unique `id` that you use to
            reference the corpus. The `name` does not need to be unique within an
            account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
              examples:
                Financial:
                  summary: Newly created corpus for EU bank ESG compliance documents.
                  value:
                    id: crp_1001
                    key: fin_esg_docs
                    name: EU Bank ESG Compliance
                    description: A corpus for storing and querying financial documents,
                      such as annual reports and ESG compliance filings, for European
                      banks in 2023.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - level: document
                      name: industry
                      type: text
                      description: The industry sector of the document (banking).
                      indexed: true
                    - level: document
                      name: region
                      type: text
                      description: The geographical region of the document (EU).
                      indexed: true
                    - level: document
                      name: year
                      type: integer
                      description: The publication year of the document (2023).
                      indexed: true
                    - level: document
                      name: doc_type
                      type: text
                      description: The type of document (annual_report).
                      indexed: true
                    limits:
                      used_docs: 0
                      used_parts: 0
                      used_bytes: 0
                      used_characters: 0
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Legal:
                  summary: Newly created corpus for California intellectual property
                    case law.
                  value:
                    id: crp_1002
                    key: legal_ip_cases
                    name: California IP Case Law
                    description: A corpus for indexing and searching legal documents
                      related to intellectual property rights cases in California,
                      including court rulings and contracts.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - level: document
                      name: jurisdiction
                      type: text
                      description: The legal jurisdiction of the document (California).
                      indexed: true
                    - level: document
                      name: legal_domain
                      type: text
                      description: The legal domain of the document (IP).
                      indexed: true
                    - level: document
                      name: year
                      type: integer
                      description: The year of the case or document (2023).
                      indexed: true
                    - level: document
                      name: case_name
                      type: text
                      description: The name of the legal case (TechCo v. Ex-Employee).
                      indexed: true
                    limits:
                      used_docs: 0
                      used_parts: 0
                      used_bytes: 0
                      used_characters: 0
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Support:
                  summary: Newly created corpus for web portal technical support knowledge
                    base.
                  value:
                    id: crp_1003
                    key: support_web_portal
                    name: Web Portal Support KB
                    description: A corpus for storing knowledge base articles to troubleshoot
                      issues in a web portal application, focusing on part-level metadata
                      for precise query filtering.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: product
                      level: part
                      type: text
                      description: The product or application (portal_app).
                      indexed: true
                    - name: browser
                      level: part
                      type: text
                      description: The browser used (chrome).
                      indexed: true
                    - name: category
                      level: part
                      type: text
                      description: The issue category (sso, caching).
                      indexed: true
                    limits:
                      used_docs: 0
                      used_parts: 0
                      used_bytes: 0
                      used_characters: 0
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
        '400':
          description: Invalid request body in the create corpus request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating a corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The corpus already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: create
    get:
      summary: List corpora
      x-required-roles:
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: 'The List Corpora API lets you retrieve a list of corpora in your
        account. This endpoint returns a paginated list of corpora objects, which
        contain basic information about each corpus. The returned corpus objects contain
        less detail compared to those retrieved the direct corpus retrieval operation.


        You can specify optional parameters to control the pagination and filtering
        of the results. The limit parameter determines the maximum number of corpora
        to return, with a default value of 10 and a maximum value of 100.

        '
      operationId: listCorpora
      tags:
      - Corpora
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - name: limit
        in: query
        description: The maximum number of corpora to return at one time.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
      - name: filter
        in: query
        description: A regular expression to filter the corpora by their name or summary.
        required: false
        schema:
          type: string
        example: Vectara Content
      - name: corpus_id
        in: query
        description: Filter corpora to only include corpora with these IDs.
        required: false
        schema:
          type: array
          items:
            type: string
            pattern: crp_[0-9]+$
        example:
        - crp_12345
      - name: page_key
        in: query
        description: Used to retrieve the next page of corpora after the limit has
          been reached.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The response includes an array of `corpora` objects with matching
            `corpora` and `metadata`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCorporaResponse'
              examples:
                Legal:
                  summary: List of corpora containing legal documents, such as employment
                    contracts and non-disclosure agreements, with metadata filters
                    for jurisdiction and document type to support precise querying
                    for legal analysis
                  value:
                    corpora:
                    - id: crp_12345
                      key: legal-contracts-2025
                      name: Legal Contracts
                      description: Corpus for storing and querying employment contracts
                        and legal agreements, primarily for Delaware and California
                        jurisdictions.
                      enabled: true
                      chat_history_corpus: false
                      queries_are_answers: false
                      documents_are_questions: false
                      encoder_name: boomerang-2023-q3
                      save_history: true
                      filter_attributes:
                      - name: jurisdiction
                        level: document
                        description: The legal jurisdiction of the contract.
                        indexed: true
                        type: text
                      - name: type
                        level: document
                        description: The type of legal document (employment_contract,
                          nda).
                        indexed: true
                        type: text
                      limits:
                        used_docs: 150
                        used_parts: 4500
                        used_characters: 2500000
                        max_metadata_bytes: 10485760
                        index_rate: 0
                      created_at: '2025-06-27T13:47:00Z'
                    metadata:
                      page_key: page_legal_001
                Finance:
                  summary: List of corpora storing financial reports and equity policies
                    for banking and tech sectors, with metadata filters for sector
                    and reporting period to enable targeted financial analysis
                  value:
                    corpora:
                    - id: crp_67890
                      key: fin-reports-2025
                      name: Financial Reports
                      description: Corpus for quarterly financial reports and equity
                        compensation policies, focused on banking and technology sectors
                        in North America.
                      enabled: true
                      chat_history_corpus: false
                      queries_are_answers: false
                      documents_are_questions: false
                      encoder_name: boomerang-2023-q3
                      save_history: true
                      filter_attributes:
                      - name: sector
                        level: document
                        description: The industry sector of the financial report (Banking,
                          Technology).
                        indexed: true
                        type: text
                      - name: quarter
                        level: document
                        description: The reporting quarter (Q1-2025).
                        indexed: true
                        type: text
                      limits:
                        used_docs: 200
                        used_parts: 6000
                        used_characters: 3500000
                        max_metadata_bytes: 10485760
                        index_rate: 0
                      created_at: '2025-06-27T13:48:00Z'
                    metadata:
                      page_key: page_fin_002
                Support:
                  summary: List of corpora designed for storing chat-based support
                    ticket interactions, with metadata filters for issue type and
                    platform to facilitate troubleshooting and analysis of customer
                    support queries
                  value:
                    corpora:
                    - id: crp_98765
                      key: support-tickets-2025
                      name: Support Tickets
                      description: Corpus for storing chat-based support ticket interactions,
                        particularly for authentication and web portal issues on Chrome
                        and other platforms.
                      enabled: true
                      chat_history_corpus: true
                      queries_are_answers: false
                      documents_are_questions: false
                      encoder_name: boomerang-2023-q3
                      save_history: true
                      filter_attributes:
                      - name: issue
                        level: document
                        description: The type of support issue (auth_token_stale,
                          login_error).
                        indexed: true
                        type: text
                      - name: platform
                        level: document
                        description: The platform where the issue occurred (web_portal,
                          mobile_app).
                        indexed: true
                        type: text
                      limits:
                        used_docs: 500
                        used_parts: 10000
                        used_characters: 5000000
                        max_metadata_bytes: 10485760
                        index_rate: 0
                      created_at: '2025-06-27T13:49:00Z'
                    metadata:
                      page_key: page_support_003
        '403':
          description: Permissions do not allow listing corpora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.corpora
  /v2/corpora/{corpus_key}:
    get:
      tags:
      - Corpora
      summary: Retrieve metadata about a corpus
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: 'The Get Corpus API lets you view metadata about a specific corpus.
        This is useful for getting information about a corpus without performing a
        search. This operation does not search the corpus contents. Specify the `corpus_key`
        to identify the corpus whose metadata you want to retrieve.


        This endpoint helps administrators understand the access control details and
        monitor the size of corpora to understand information like the amount of quota
        consumed. You can also use this information for optimizing search and storage
        utilization.


        For example, you can track the read and write activity of a specific corpus
        which can help you change your security strategy proactively. You noticed
        a corpus with an API key with read/write access that is only being used for
        high volume reads. You may decide to switch to a read-only key.


        In another case, you might respond to a security incident by disabling a specific
        corpus because of information returned by this endpoint.


        ## Get the number of documents or document parts in a corpus


        Tracking the usage of documents in a corpus enables adminstrators to manage
        resource allocation efficiently. Monitoring corpus metrics also helps data
        usage stay within allocated quotas and identify trends in document growth
        and document segmentation.


        The `limit` object in the response provides comprehensive information about
        the current usage and limits of a corpus including the number of stored documents,
        document parts, and character count.

        '
      operationId: getCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
        examples:
          Financial:
            summary: Retrieve metadata for the EU bank ESG compliance corpus
            value: fin_esg_docs
          Legal:
            summary: Retrieve metadata for the California IP case law corpus
            value: legal_ip_cases
          Support:
            summary: Retrieve metadata for the web portal support knowledge base corpus
            value: support_web_portal
      responses:
        '200':
          description: The response includes details such as the corpus ID, key, name,
            description, enabled status, encoder information, filter attributes, custom
            dimensions, and usage limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
              examples:
                Financial:
                  summary: Metadata for the EU bank ESG compliance corpus
                  value:
                    id: crp_1001
                    key: fin_esg_docs
                    name: EU Bank ESG Compliance
                    description: A corpus for storing and querying financial documents,
                      such as annual reports and ESG compliance filings, for European
                      banks in 2023.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: industry
                      type: text
                      level: document
                      description: The industry sector of the document (banking).
                      indexed: true
                    - name: region
                      type: text
                      level: document
                      description: The geographical region of the document (EU).
                      indexed: true
                    - name: year
                      type: integer
                      level: document
                      description: The publication year of the document (2023).
                      indexed: true
                    - name: doc_type
                      type: text
                      level: document
                      description: The type of document (annual_report).
                      indexed: true
                    limits:
                      used_docs: 150
                      used_parts: 4500
                      used_bytes: 0
                      used_characters: 1200000
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Legal:
                  summary: Metadata for the California IP case law corpus
                  value:
                    id: crp_1002
                    key: legal_ip_cases
                    name: California IP Case Law
                    description: A corpus for indexing and searching legal documents
                      related to intellectual property rights cases in California,
                      including court rulings and contracts.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: jurisdiction
                      type: text
                      level: document
                      description: The legal jurisdiction of the document (California).
                      indexed: true
                    - name: legal_domain
                      type: text
                      level: document
                      description: The legal domain of the document (IP).
                      indexed: true
                    - name: year
                      type: integer
                      level: document
                      description: The year of the case or document (2023).
                      indexed: true
                    - name: case_name
                      type: text
                      level: document
                      description: The name of the legal case (TechCo v. Ex-Employee).
                      indexed: true
                    limits:
                      used_docs: 200
                      used_parts: 6000
                      used_bytes: 0
                      used_characters: 1800000
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
                Support:
                  summary: Metadata for the web portal support knowledge base corpus
                  value:
                    id: crp_1003
                    key: support_web_portal
                    name: Web Portal Support KB
                    description: A corpus for storing knowledge base articles to troubleshoot
                      issues in a web portal application, focusing on part-level metadata
                      for precise query filtering.
                    enabled: true
                    save_history: true
                    queries_are_answers: false
                    documents_are_questions: false
                    encoder_name: boomerang-2023-q3
                    filter_attributes:
                    - name: product
                      type: text
                      level: part
                      description: The product or application (portal_app).
                      indexed: true
                    - name: browser
                      type: text
                      level: part
                      description: The browser used (chrome).
                      indexed: true
                    - name: category
                      type: text
                      level: part
                      description: The issue category (sso, caching).
                      indexed: true
                    limits:
                      used_docs: 100
                      used_parts: 3000
                      used_bytes: 0
                      used_characters: 900000
                      max_bytes: 0
                      max_metadata_bytes: 1048576
                      index_rate: 0
                    created_at: '2025-06-17T15:10:00Z'
        '403':
          description: Permissions do not allow retrieving the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: get
    delete:
      tags:
      - Corpora
      summary: Delete a corpus and all its data
      x-required-roles:
      - type: CorpusRole
        roles:
        - owner
      - type: ApiRole
        roles:
        - corpus_administrator
        - administrator
        - owner
      description: "Permanently delete a corpus and all its associated data. The `corpus_key`\
        \ uniquely identifies the corpus. \n\nUpon successful completion, space quota\
        \ consumed by the corpus will be freed, and the corpus will no longer be useable\
        \ for future indexing or querying.\n\n:::note\nThe corpus_key assigned to\
        \ the corpus will be released and can be reused.\n:::\n"
      operationId: deleteCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to delete.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully deleted a corpus.
        '403':
          description: Permissions do not allow deleting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: delete
    patch:
      tags:
      - Corpora
      summary: Update a corpus
      x-required-roles:
      - type: CorpusRole
        roles:
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: 'The Update Corpus API lets you enable, disable, or update the
        name and description of a corpus. This is useful to manage the availability
        of data within the system, such as when you need to take the corpus offline
        without having to delete the corpus.


        This lets you utilize automated scripts to programmatically control the availability
        of corpora based on certain conditions. For example, quickly disable a corpus
        for maintenance updates or in response to security incidents.

        '
      operationId: updateCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to update.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCorpusRequest'
      responses:
        '200':
          description: Successfully modified the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
        '403':
          description: Permissions do not allow updating the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: update
  /v2/corpora/{corpus_key}/reset:
    post:
      tags:
      - Corpora
      summary: Remove all documents and data in a corpus
      x-required-roles:
      - type: CorpusRole
        roles:
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_administrator
        - administrator
        - owner
      description: Resets a corpus, which removes all documents and data from the
        specified corpus, while keeping the corpus itself. The `corpus_key` uniquely
        identifies the corpus. For more information, see [Create a corpus](https://docs.vectara.com/docs/rest-api/create-corpus).
      operationId: resetCorpus
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to reset.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully reset a corpus and free the space quota consumed
            by the corpus.
        '403':
          description: Permissions do not allow resetting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: reset
  /v2/corpora/{corpus_key}/replace_filter_attributes:
    post:
      tags:
      - Corpora
      summary: Replace the filter attributes of a corpus
      x-required-roles:
      - type: CorpusRole
        roles:
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      operationId: replaceFilterAttributes
      description: 'Replace the filter attributes of a corpus. This does not happen
        immediately, as this operation creates a job that completes asynchronously.
        These new filter attributes will not work until the job completes.


        You can monitor the status of the filter change using the returned job ID.
        The `corpus_key` uniquely identifies the corpus.

        '
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus having its filters replaced.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceFilterAttributesRequest'
            examples:
              Legal:
                summary: Replace filter attributes for a legal contracts corpus to
                  enable querying by jurisdiction and document type, supporting precise
                  legal analysis
                value:
                  filter_attributes:
                  - name: jurisdiction
                    level: document
                    description: The legal jurisdiction of the contract (Delaware,
                      California).
                    indexed: true
                    type: text
                  - name: type
                    level: document
                    description: The type of legal document (employment_contract,
                      nda).
                    indexed: true
                    type: text
              Finance:
                summary: Replace filter attributes for a financial reports corpus
                  to facilitate querying by sector and reporting period, enhancing
                  financial data analysis
                value:
                  filter_attributes:
                  - name: sector
                    level: document
                    description: The industry sector of the financial report (Banking,
                      Technology).
                    indexed: true
                    type: text
                  - name: quarter
                    level: document
                    description: The reporting quarter (Q1-2025).
                    indexed: true
                    type: text
              Support:
                summary: Replace filter attributes for a support tickets corpus to
                  support querying by issue type and platform, streamlining customer
                  support troubleshooting
                value:
                  filter_attributes:
                  - name: issue
                    level: document
                    description: The type of support issue (auth_token_stale, login_error).
                    indexed: true
                    type: text
                  - name: platform
                    level: document
                    description: The platform where the issue occurred (web_portal,
                      mobile_app).
                    indexed: true
                    type: text
      responses:
        '200':
          description: Successfully created a job that will replace the filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceFilterAttributesResponse'
              examples:
                Legal:
                  summary: Initiated a job to replace filter attributes for a legal
                    contracts corpus, enabling queries by jurisdiction and document
                    type for efficient contract analysis
                  value:
                    job_id: job_legal_45678
                    status: queued
                Finance:
                  summary: Initiated a job to replace filter attributes for a financial
                    reports corpus, allowing queries by sector and quarter to support
                    detailed financial insights
                  value:
                    job_id: job_fin_78901
                    status: queued
                Support:
                  summary: Initiated a job to replace filter attributes for a support
                    tickets corpus, enabling queries by issue type and platform to
                    optimize support ticket resolution
                  value:
                    job_id: job_support_23456
                    status: queued
        '403':
          description: Permissions do not allow replacing filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: replaceFilterAttributes
  /v2/corpora/{corpus_key}/compute_size:
    post:
      tags:
      - Corpora
      summary: Compute the current size of a corpus
      x-required-roles:
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: Compute the current size of a corpus, including number of documents,
        parts, and characters. The `corpus_key` uniquely identifies the corpus.
      operationId: computeCorpusSize
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to compute size for.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      responses:
        '200':
          description: Successfully computed the corpus size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeCorpusSizeResponse'
        '403':
          description: Permissions do not allow computing size for this corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: compute_size
  /v2/corpora/{corpus_key}/filter_attribute_stats:
    get:
      tags:
      - Corpora
      summary: Get filter attribute statistics for corpus metadata
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: 'Retrieve statistics and value distributions for filter attributes
        in a corpus. This endpoint provides insights into the metadata structure and
        content distribution, enabling users to understand available filter values
        and build effective metadata queries.


        This endpoint analyzes document and part metadata fields defined as filter
        attributes and returns:

        - **Value distributions**: Top occurring values with their counts

        - **Statistics**: Min, max, average, and sum for numeric fields


        By default, statistics are computed across all filter attributes at both document
        and part levels. You can optionally:

        - Request statistics for specific fields only

        - Apply metadata filters to analyze a subset of the corpus

        - Limit the number of distinct values returned per field


        **Performance and Caching**: Results may be cached for improved performance,
        with cache duration varying by corpus size. Cached results can take up to
        1 hour to refresh for large corpora. Smaller corpora with faster query times
        have shorter cache durations (2-15 minutes) to ensure fresher data.


        The `corpus_key` uniquely identifies the corpus. For more information, see
        [Create a corpus](https://docs.vectara.com/docs/rest-api/create-corpus).

        '
      operationId: getFilterAttributeStats
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus to retrieve filter attribute
          statistics for.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: fields
        in: query
        description: Comma-separated list of qualified field names to retrieve statistics
          for (e.g., 'doc.category,part.status'). If omitted, returns statistics for
          all filter attributes in the corpus. Field names must match the qualified
          format 'level.fieldname' where level is either 'doc' or 'part'.
        required: false
        schema:
          type: string
        example: doc.category,doc.year,part.status
      - name: metadata_filter
        in: query
        description: Optional metadata filter expression to pre-filter documents or
          parts before computing statistics. Uses the same SQL-style filter syntax
          as query operations. When provided, statistics reflect only the filtered
          subset of the corpus.
        required: false
        schema:
          type: string
        example: doc.year >= 2020 AND doc.category = 'financial'
      - name: max_values
        in: query
        description: Maximum number of distinct values to return per field in the
          'values' array, ordered by occurrence count (descending).
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 100
        example: 50
      responses:
        '200':
          description: Successfully retrieved filter attribute statistics for the
            corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFilterAttributeStatsResponse'
              examples:
                Financial:
                  summary: Filter attribute statistics for a financial documents corpus
                    showing distribution across document categories, years, and report
                    types
                  value:
                    filter_attribute_stats:
                    - name: doc.category
                      type: text
                      description: The category of financial document (e.g., quarterly
                        report, annual filing)
                      values:
                      - value: quarterly_report
                        count: 152
                      - value: annual_filing
                        count: 89
                      - value: earnings_call
                        count: 45
                      - value: sec_filing
                        count: 28
                    - name: doc.year
                      type: integer
                      description: The fiscal year of the report
                      values:
                      - value: 2024
                        count: 128
                      - value: 2023
                        count: 95
                      - value: 2022
                        count: 72
                      - value: 2021
                        count: 48
                      - value: 2020
                        count: 21
                      stats:
                        min: 2020
                        max: 2024
                        avg: 2022.8
                        sum: 7391296
                Legal:
                  summary: Filter attribute statistics for a legal documents corpus
                    showing distribution across jurisdictions, case types, and document
                    statuses
                  value:
                    filter_attribute_stats:
                    - name: doc.jurisdiction
                      type: text
                      description: Legal jurisdiction of the case (e.g., Delaware,
                        California)
                      values:
                      - value: Delaware
                        count: 184
                      - value: California
                        count: 142
                      - value: New York
                        count: 89
                    - name: doc.case_type
                      type: text
                      description: Type of legal case
                      values:
                      - value: intellectual_property
                        count: 156
                      - value: employment
                        count: 98
                      - value: contract_dispute
                        count: 76
                      - value: corporate
                        count: 54
                      - value: other
                        count: 31
                    - name: part.reviewed
                      type: boolean
                      description: Whether this part has been legally reviewed
                      values:
                      - value: true
                        count: 892
                      - value: false
                        count: 234
                Support:
                  summary: Filter attribute statistics for a support knowledge base
                    corpus showing distribution across products, issue categories,
                    and platforms
                  value:
                    filter_attribute_stats:
                    - name: doc.product
                      type: text
                      description: Product or service related to the support article
                      values:
                      - value: portal_app
                        count: 245
                      - value: mobile_app
                        count: 189
                      - value: api_service
                        count: 142
                      - value: desktop_client
                        count: 98
                      - value: admin_console
                        count: 67
                      - value: other
                        count: 34
                    - name: part.category
                      type: list[text]
                      description: Categories or tags for the support content (can
                        have multiple per part)
                      values:
                      - value: authentication
                        count: 456
                      - value: performance
                        count: 389
                      - value: configuration
                        count: 312
                      - value: troubleshooting
                        count: 289
                      - value: integration
                        count: 201
                    - name: doc.priority
                      type: integer
                      description: Priority level of the issue (1-5, where 1 is highest)
                      values:
                      - value: 3
                        count: 298
                      - value: 2
                        count: 245
                      - value: 4
                        count: 189
                      - value: 1
                        count: 134
                      - value: 5
                        count: 89
                      stats:
                        min: 1
                        max: 5
                        avg: 2.9
                        sum: 2776
        '400':
          description: Bad request - invalid parameters or corpus does not support
            filter attribute statistics (not backed by OpenSearch).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow retrieving filter attribute statistics
            for this corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: get_filter_attribute_stats
  /v2/corpora/{corpus_key}/upload_file:
    post:
      tags:
      - Upload
      summary: Upload a file to the corpus
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: "Upload a file to a corpus for automatic text extraction, chunking,\
        \ and indexing. This endpoint is designed for unstructured documents where\
        \ you want Vectara to handle parsing for you. Each uploaded file can be up\
        \ to **10 MB**.\n\nSupported file types include:\n- Markdown (`.md`)\n- PDF/A\
        \ (`.pdf`)\n- OpenOffice documents (`.odt`)\n- Microsoft Word (`.doc`, `.docx`)\n\
        - Microsoft PowerPoint (`.ppt`, `.pptx`)\n- Plain text (`.txt`)\n- HTML (`.html`)\n\
        - LXML (`.lxml`)\n- RTF (`.rtf`)\n- EPUB (`.epub`)\n- Email files (RFC 822)\
        \   \n\n:::note\nFor semi-structured documents that require more control over\
        \ fields or metadata, use the [**Create Corpus Document API**](/docs/rest-api/create-corpus-document)\
        \ instead.\n:::\n\n## Additional format support through Vectara Ingest\n\n\
        If you need to ingest additional file types or data sources, you can use the\
        \ open-source [**Vectara Ingest**](https://github.com/vectara/vectara-ingest)\
        \ Python framework. It supports connectors for websites, RSS feeds, CSV, Confluence,\
        \ HubSpot, ServiceNow, Jira, Notion, Slack, MediaWiki, GitHub, SharePoint,\
        \ Twitter/X, YouTube, and more.\n\n:::caution\nVectara Ingest is provided\
        \ as an open-source example and is not officially supported.\n:::\n\n## Multipart\
        \ form fields\n\nThis endpoint expects a `multipart/form-data` request with\
        \ the following fields:\n\n- **metadata** (optional): JSON metadata to attach\
        \ to the parsed document.  \n  Example: `metadata={\"key\":\"value\"}`\n-\
        \ **chunking_strategy** (optional): Controls how extracted text is chunked.\
        \  \n  Defaults to sentence-based chunking (one chunk per sentence).  \n \
        \ Example: `{\"type\":\"sentence_chunking_strategy\"}`. \n  Example for max\
        \ character chunking: `{\"type\":\"max_chars_chunking_strategy\",\"max_chars_per_chunk\"\
        :512}`\n- **table_extraction_config** (optional): Enables extraction of tables\
        \ from supported file types such as PDFs.  \n  Example: `{\"extract_tables\"\
        : true}`\n- **file** (required): The file to upload.\n- **filename** (required):\
        \ The desired document ID, specified within the file upload field.\n\nApart\
        \ from these parameters, the servers expect a valid JWT Token in the HTTP\
        \ headers:\n\n```curl\n\\$ curl -L -X POST 'https://api.vectara.io/v2/corpora/:corpus_key/upload_file'\
        \ \\\n-H 'Content-Type: multipart/form-data' \\\n-H 'Accept: application/json'\
        \ \\\n-H 'x-api-key: zwt_123456' \\\n-F 'metadata=\\{\"key\": \"value\"\\\
        };type=application/json' \\\n-F 'file=@/path/to/file/file.pdf;filename=desired_filename.pdf'\n\
        \n```\n\n## Filenames with non-ASCII characters\n\nWhen uploading files with\
        \ non-ASCII (non-English) characters, such as Russian or Chinese, ensure that\
        \ the filename is URL encoded. The Vectara REST API follows web standards\
        \ which require URL-encoded file names.\n\n## Set the document ID\n  \nTo\
        \ set a custom Document ID, pass it as the filename in the `Content-Disposition`\
        \ header:\n\n`Content-Disposition: form-data; name=\"file\"; filename=\"your_document_id\"\
        `\n\nFor more information about Content-Disposition, see the [Mozilla documentation\
        \ on headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition).\n\
        \n## Attach additional metadata\n\nYou can attach additional metadata to the\
        \ file by specifying a metadata form field, which can contain a JSON string:\n\
        \n`{ \"filesize\": 1234 }`\n\n## Tabular data extraction and summarization\n\
        \nSetting `table_extraction_config.extract_tables = true` enables extraction\
        \ of tabular data (such as financial filings such as 10-K, 10-Q, S-1). You\
        \ can also apply custom prompt templates to summarize table content during\
        \ upload.\n\n:::caution\nTable extraction does not support scanned images\
        \ of tables.\n:::\n\n## Custom table summarization with prompt templates\n\
        \nVectara supports [table summarization using custom prompt templates](https://docs.vectara.com/docs/build/working-with-tables#summarize-tables-with-custom-prompts)\
        \ during document upload. This lets you define custom prompt templates that\
        \ control how the LLM interprets and summarizes table data during extraction.\
        \ By customizing the prompt_template, you can tailor summaries for domain-specific\
        \ language, analytical perspectives, or formatting preferences.\n\n## Image\
        \ support\nYou can include images in structured documents using the [Indexing\
        \ API](/docs/rest-api/create-corpus-document) with Base64 encoding. You cannot\
        \ send images directly with individual query requests. If you want to retrieve\
        \ a specific image that is embedded within a document, use the [Retrieve image\
        \ API](/docs/rest-api/get-image)\n"
      operationId: uploadFile
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus of which to upload the
          file.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      requestBody:
        description: Upload a file for the Vectara platform to attempt to parse and
          turn into a document within the corpus. The first part of the multipart
          request can contain any document metadata to attach to the parsed document.
          Only one document may be uploaded at a time.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
            encoding:
              metadata:
                contentType: application/json
              chunking_strategy:
                contentType: application/json
              table_extraction_config:
                contentType: application/json
              file:
                contentType: application/octet-stream, application/pdf, application/msword,
                  application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                  application/vnd.oasis.opendocument.text, application/epub+zip, application/rtf,
                  text/html, text/plain, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                  text/markdown
              filename:
                contentType: text/plain
      responses:
        '201':
          description: The extracted document has been parsed and added to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Upload file request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow uploading a file to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: A document with the same document ID already exists in the
            corpus with different content. Delete the existing document first or use
            a unique document ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: The media type of the uploaded file is not supported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-examples:
      - code-samples:
        - language: python
          code: "from vectara import Vectara\n\nclient = Vectara(\n    api_key=\"\
            YOUR_API_KEY\",\n    # or\n    client_id=\"YOUR_CLIENT_ID\",\n    client_secret=\"\
            YOUR_CLIENT_SECRET\",\n)\nclient.upload.file(\n    corpus_key=corpus_key,\n\
            \    file=content,\n    filename=slugify(url),\n)\n"
      x-fern-sdk-group-name: upload
      x-fern-sdk-method-name: file
  /v2/corpora/{corpus_key}/documents:
    post:
      tags:
      - Index
      summary: Add a document to a corpus
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: "Add a document to a corpus for indexing, making its content available\
        \ for search, retrieval, and generation. This endpoint supports two ingestion\
        \ modes: **structured** documents and **core** documents. These modes offer\
        \ different levels of control over document structure and chunking.\n\nEach\
        \ document becomes part of a corpus. You can use this API directly or with\
        \ [Vectara Ingest](https://github.com/vectara/vectara-ingest) or the [File\
        \ Upload API](/docs/rest-api/upload-file).\n\n## Structured documents\n\n\
        Structured documents provide a natural hierarchy where Vectar handles chunking\
        \ and metadata automatically. Structured documents are ideal when you want\
        \ to index documents that have logical organization (titles, sections, paragraphs,\
        \ and optionally tables or images) but prefer Vectara to manage how the content\
        \ is split into search-optimized units.\n\nEach structured document contains:\n\
        - A unique `id` and optional `title`, `description`, and `metadata`.\n- An\
        \ array of `sections`, each with its own title, text, and optional nested\
        \ sections, tables, or images.\n- Optional `custom_dimensions` that can influence\
        \ ranking during search.\n\nWhen indexed, Vectara partitions the text into\
        \ document parts automatically using an intelligent sentence- or character-based\
        \ chunking strategy. This lets you ingest data with minimal pre-processing\
        \ while maintaining semantic integrity across context boundaries.\n\nStructured\
        \ documents are recommended for content with well-defined sections such as\
        \ reports, articles, FAQs, or documentation.\n\n## Core documents\n\nCore\
        \ documents offer fine-grained, explicit control of every part of a document\
        \ that becomes searchable. Instead of providing a hierarchical structure,\
        \ you specify each **document part** directly as unit that maps 1:1 to a search\
        \ result or embedding.\n\nA core document includes:\n- A unique `id` and optional\
        \ `metadata`.\n- A list of `document_parts`, where each part includes `text`,\
        \ optional `context`, `metadata`, and `custom_dimensions`.\n- Optional `tables`\
        \ and `images`, allowing you to represent complex structured data like spreadsheets\
        \ or charts.\n\nCore documents are designed for advanced use cases such as\
        \ precise chunk-level optimization or experimental corpus structures, and\
        \ applications where metadata-driven retrieval or ranking must be explicitly\
        \ controlled.\n\n## Chunking strategies    \n\nBy default, Vectara uses **sentence-based\
        \ chunking**, which provides optimal retrieval accuracy for most datasets.\n\
        \nFor larger documents or performance-tuned ingestion, you can explicitly\
        \ set a `chunking_strategy`:\n- `sentence_chunking_strategy` \u2014 creates\
        \ one chunk per sentence (default).\n- `max_chars_chunking_strategy` \u2014\
        \ creates larger chunks up to a specified character limit (`max_chars_per_chunk`),\
        \ balancing retrieval speed with contextual coherence.\n"
      operationId: createCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the queried corpus.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: wait_for
        in: query
        description: 'Controls how long the request waits before returning a response.

          - `searchable` (default): Waits until the document is fully indexed and
          immediately searchable. Use this when you need to query the document immediately
          after indexing.

          - `indexed`: Waits until the document is durably stored and will be included
          in future search results. This is faster but the document may not appear
          in search results for a brief period after the response.


          Both modes return a successful response once the specified condition is
          met.

          '
        required: false
        schema:
          type: string
          enum:
          - searchable
          - indexed
          default: searchable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
      responses:
        '201':
          description: Document added to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Document creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow adding a document to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: The document already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: create
      x-fern-examples:
      - path-parameters:
          corpus_key: my-corpus-key
        request:
          id: my-doc-id
          type: structured
          sections:
          - id: 1
            title: A nice title.
            text: I'm a nice document section.
            metadata:
              section: '1.1'
          - id: 2
            title: Another nice title.
            text: I'm another document section on something else.
            metadata:
              section: '1.2'
          metadata:
            url: https://example.com
        response:
          body: {}
    get:
      tags:
      - Documents
      summary: List the documents in the corpus
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: "The List Documents API enables you to retrieve a list of documents\
        \ stored in a specific corpus. This endpoint provides an overview of document\
        \ metadata, including document IDs, tables (if table extraction is enabled),\
        \ and pagination details. \n\nUse this API for viewing documents indexed so\
        \ far and helping you decide to remove documents that are no longer needed.\
        \ It helps you manage the document lifecycle in your environment.\n\nThis\
        \ information enables you to catalog and inventory large amounts of data while\
        \ also retrieving lists of documents for further analysis. For example, developers\
        \ can utilize the metadata to to build custom search and filtering capabilities\
        \ into their applications. If you enabled tabled extraction, this endpoint\
        \ also returns the tables that this document contains.\n\nCurrently Document\
        \ Admin APIs do not allow you to access the text of your documents.\n"
      operationId: listCorpusDocuments
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the queried corpus.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: limit
        in: query
        description: The maximum number of documents to return at one time.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 10
      - name: metadata_filter
        in: query
        description: Filter documents by metadata. Uses the same expression as a query
          metadata filter, but only allows filtering on document metadata.
        required: false
        schema:
          type: string
      - name: page_key
        in: query
        description: Used to retrieve the next page of documents after the limit has
          been reached.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The response contains an array of document objects with the
            matching document IDs, metadata, tables, parts, storage usage, and metadata
            about the pagination.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocumentsResponse'
        '403':
          description: Permissions do not allow listing documents in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.documents
    delete:
      tags:
      - Documents
      summary: Bulk delete documents from a corpus
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: 'Initiates an asynchronous bulk delete operation for documents
        in a corpus.

        This operation accepts a metadata filter, a list of specific document IDs,
        or both.


        **Important**: This is a best-effort operation.

        See the response schema documentation for details on the behavior differences
        between `metadata_filter` and `document_ids` parameters.


        The operation runs as a background workflow.

        Use the returned `job_id` to track progress via the Jobs API.

        '
      operationId: bulkDeleteCorpusDocuments
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus containing documents to
          delete.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - name: metadata_filter
        in: query
        description: 'Filter documents by metadata. Uses the same expression as a
          query metadata filter.

          Example: `doc.status = ''archived'' AND doc.year < 2020`

          '
        required: false
        schema:
          type: string
      - name: document_ids
        in: query
        description: Comma-separated list of document IDs to delete. Maximum 10,000
          IDs per request.
        required: false
        schema:
          type: string
      - name: async
        in: query
        description: 'Whether to perform the deletion asynchronously.

          - `true` (default): Returns immediately with job_id to track progress (HTTP
          202)

          - `false`: Waits for completion and returns deletion results (HTTP 200)


          When `async=false`, the operation will wait for the deletion to complete
          up to the timeout specified in the `Request-Timeout` or `Request-Timeout-Millis`
          header.

          If no timeout header is provided, defaults to 7 days.

          If the operation times out, returns HTTP 504 with job_id to track via Jobs
          API.


          The workflow continues running in the background even if the API wait times
          out.

          '
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Bulk delete operation completed successfully (synchronous mode).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteDocumentsResponse'
        '202':
          description: Bulk delete operation accepted and queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteDocumentsResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow bulk deleting documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '504':
          description: Synchronous operation timed out. The error message contains
            the job_id to track status via Jobs API. Workflow continues running in
            background.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: bulk_delete
  /v2/corpora/{corpus_key}/documents/{document_id}:
    delete:
      tags:
      - Documents
      summary: Delete a document
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: Permanently delete a document identified by its unique `document_id`
        from a specific corpus. This operation cannot be undone, so use it with caution.
      operationId: deleteCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus with the document to delete.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to delete. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted the document.
        '403':
          description: Permissions do not allow deleting a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: delete
    get:
      tags:
      - Documents
      summary: Retrieve a document
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: 'The Retrieve Document API enables you to fetch the content and
        metadata of a specific document from a corpus, identified by its unique `document_id`
        from a specific corpus. Use this endpoint to view the full details of a document,
        including its text, metadata, and associated tables, if table extraction is
        enabled.


        This information is particularly useful when you need to analyze the details
        of a specific document or integrate document content into your application
        workflows.

        '
      operationId: getCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus containing the document
          to retrieve.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to retrieve. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow retrieving a document from the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: get
    patch:
      tags:
      - Index
      summary: Update document, merging the metadata.
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: Updates document identified by its unique `document_id` from a
        specific corpus. The request body metadata is merged with the existing metadata,
        adding or modifying only the specified fields.
      operationId: updateCorpusDocument
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus with the document to update.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to update. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocumentRequest'
      responses:
        '200':
          description: Successfully updated the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow updating a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '429':
          description: Too many concurrent requests. Please retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: update
  /v2/corpora/{corpus_key}/documents/{document_id}/metadata:
    put:
      tags:
      - Index
      summary: Replace the document metadata.
      x-required-roles:
      - type: CorpusRole
        roles:
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_developer
        - corpus_administrator
        - administrator
        - owner
      description: Replaces metadata of a document identified by its unique `document_id`
        from a specific corpus.
      operationId: replaceCorpusDocumentMetadata
      parameters:
      - $ref: '#/components/parameters/RequestTimeout'
      - $ref: '#/components/parameters/RequestTimeoutMillis'
      - in: path
        name: corpus_key
        description: The unique key identifying the corpus with the document to update.
        required: true
        schema:
          $ref: '#/components/schemas/CorpusKey'
      - in: path
        name: document_id
        description: The document ID of the document to update. This `document_id`
          must be percent encoded.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocumentRequest'
      responses:
        '200':
          description: Successfully updated the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow updating a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '429':
          description: Too many concurrent requests. Please retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: update_metadata
  /v2/corpora/{corpus_key}/documents/{document_id}/summarize:
    post:
      tags:
      - Documents
      summary: Summarize a document
      x-required-roles:
      - type: CorpusRole
        roles:
        - viewer
        - editor
        - administrator
        - owner
      - type: ApiRole
        roles:
        - corpus_viewer
        - corpus_developer
        - corpus_administrator
        - viewer
        - administrator
        - owner
      description: "Organizations often struggle with extracting relevant insights\
        \ from extensive documentation, such as vendor quotes, financial statements,\
        \ and technical reports. Manually reviewing these documents is both time-consuming\
        \ and prone to errors. \n\nThe tech preview of the Documentation Summarization\
        \ API enables users to generate concise summaries that capture essential insights\
        \ from single documents without having to process entire documents manually.\
        \ Efficiently process large documents, extract key insights, and interact\
        \ with real-time data summaries.\n\n* Enable streaming for large documents\
        \ to receive summaries incrementally.\n* Customize `prompt_template` to fine-tune\
        \ summary output for specific domains.\n* Use standard responses for small\
        \ documents where streaming is unnecessary.\n* Monitor streaming events to\
        \ track the progress of real-time summarization.\n\n:::note\nThe documentation\
        \ length is limited by the context window of your selected LLM.\n:::\n\n##\
        \ Response formats\n\nThe API supports two response modes:\n\n* **Standard**:\
        \ Provides a complete summary in one response.\n* **Streaming** Provides incremental\
        \ responses using Server-Sent Events (SSE).\n\n### Non-streaming response\n\
        \nIn standard mode, the API returns a structured response containing the complete\
        \ summary of the document. The summary field contains the generated text,\
        \ enabling users to extract essential information quickly.\n\n### Streaming\
        \ response\n\nFor streaming responses, the API returns Server-Sent Events\
        \ (SSE). The first event begins streaming partial results as soon as they\
        \ are available, while the final event marks the end of the summarization\
        \ process.\n\nThe streamed response consists of multiple events:\n\n* `generation_info`:\
        \ Contains the `rendered_prompt` which is the compiled prompt sent to the\
        \ LLM for document summarization.\n* `generation_chunk`: Returns partial chunk\
[...]
