openapi: 3.0.4
info:
  title: Vectara REST API v2
  description: "Vectara provides an end-to-end platform for creating GenAI products using a simple to use API.\nYou can [sign up for an account](https://console.vectara.com/signup) and then view several [API Recipes](https://docs.vectara.com/docs/api-recipes) with example queries and parameter values.\nThe Vectara API Playground lets you experiment with REST endpoints from your browser. Select an endpoint to view its definition, including the required or optional headers, body, responses, and sample commands. On the right side of each endpoint page, like [Get Corpus](/docs/rest-api/get-corpus), you manually enter your API Key or OAuth Bearer Token, `customer_id`, and then any required body parameters like the `corpusID` before sending the API request.\n:::note\nVectara supports two primary methods of authentication: API keys and OAuth 2.0, which are applicable to all endpoints. Query API Keys are used for read-only querying operations, while Index API Keys provide read and write access. The OAuth 2.0 operations authenticate with a Bearer Token via the OAuth 2.0 client credentials grant. Review the [**OAuth 2.0 section**](https://docs.vectara.com/docs/learn/authentication/oauth-2) about how to generate the token."
  termsOfService: https://vectara.com/legal/terms-of-service/
  contact:
    email: feedback@vectara.com
  version: 2.0.0
  x-logo:
    url: https://docs.vectara.com/img/vectara_wordmark.png
    altText: Vectara
  x-dark-logo:
    url: https://docs.vectara.com/img/vectara_wordmark_light.png
    altText: Vectara
servers:
  - url: https://api.vectara.io
paths:
  /v2/corpora:
    post:
      tags:
        - Corpora
      summary: Create a corpus
      description: 'Create a corpus, which is a container to store documents and associated metadata. Here, you define the unique `corpus_key` that identifies the corpus. The `corpus_key` can be custom-defined following your preferred naming convention, allowing you to easily manage the corpus''s data and reference it in queries. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).'
      operationId: createCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorpusRequest'
      responses:
        '201':
          description: The corpus has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
        '400':
          description: Invalid request body in the create corpus request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating a corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The corpus already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: create
    get:
      tags:
        - Corpora
      summary: List corpora
      description: List corpora in the account. The returned corpus objects contain less detail compared to those retrieved the direct corpus retrieval operation.
      operationId: listCorpora
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: The maximum number of corpora to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: filter
          in: query
          description: A regular expression to filter the corpora by their name or summary.
          schema:
            type: string
        - name: corpus_id
          in: query
          description: Filter corpora to only include corpora with these IDs.
          schema:
            type: array
            items:
              pattern: 'crp_[0-9]+$'
              type: string
        - name: page_key
          in: query
          description: Used to retrieve the next page of corpora after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of corpora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCorporaResponse'
        '403':
          description: Permissions do not allow listing corpora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.corpora
  '/v2/corpora/{corpus_key}':
    get:
      tags:
        - Corpora
      summary: Retrieve metadata about a corpus
      description: 'Get metadata about a corpus. This operation does not search the corpus contents. Specify the `corpus_key` to identify the corpus whose metadata you want to retrieve. The `corpus_key` is created when the corpus is set up, either through the Vectara Console UI or the Create Corpus API. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).'
      operationId: getCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to retrieve.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      responses:
        '200':
          description: A corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
        '403':
          description: Permissions do not allow retrieving the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: get
    delete:
      tags:
        - Corpora
      summary: Delete a corpus and all its data
      description: 'Permanently delete a corpus and all its associated data. The `corpus_key` uniquely identifies the corpus. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).'
      operationId: deleteCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to delete.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully deleted a corpus.
        '403':
          description: Permissions do not allow deleting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: delete
    patch:
      tags:
        - Corpora
      summary: Update a corpus
      description: 'Enable, disable, or update the name and description of a corpus. This lets you manage data availability without deleting the corpus, which is useful for maintenance and security purposes. The `corpus_key` uniquely identifies the corpus. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition). Consider updating the name and description of a corpus dynamically to help keep your data aligned with changing business needs.'
      operationId: updateCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to update.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCorpusRequest'
      responses:
        '200':
          description: Successfully modified the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
        '403':
          description: Permissions do not allow updating the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: update
  '/v2/corpora/{corpus_key}/reset':
    post:
      tags:
        - Corpora
      summary: Remove all documents and data in a corpus
      description: 'Resets a corpus, which removes all documents and data from the specified corpus, while keeping the corpus itself. The `corpus_key` uniquely identifies the corpus. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).'
      operationId: resetCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to reset.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      responses:
        '204':
          description: Successfully reset a corpus.
        '403':
          description: Permissions do not allow resetting the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: reset
  '/v2/corpora/{corpus_key}/replace_filter_attributes':
    post:
      tags:
        - Corpora
      summary: Replace the filter attributes of a corpus
      description: "Replace the filter attributes of a corpus. This does not happen immediately, as this operation creates a job that completes asynchronously. These new filter attributes will not work until the job completes.\nYou can monitor the status of the filter change using the returned job ID. The `corpus_key` uniquely identifies the corpus. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition)."
      operationId: replaceFilterAttributes
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus having its filters replaced.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceFilterAttributesRequest'
      responses:
        '200':
          description: Successfully created a job that will replace the filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceFilterAttributesResponse'
        '403':
          description: Permissions do not allow replacing filter attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: replaceFilterAttributes
  '/v2/corpora/{corpus_key}/compute_size':
    post:
      tags:
        - Corpora
      summary: Compute the current size of a corpus
      description: 'Compute the current size of a corpus, including number of documents, parts, and characters. The `corpus_key` uniquely identifies the corpus. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition).'
      operationId: computeCorpusSize
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to compute size for.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      responses:
        '200':
          description: Successfully computed the corpus size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeCorpusSizeResponse'
        '403':
          description: Permissions do not allow computing size for this corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: compute_size
  '/v2/corpora/{corpus_key}/query':
    get:
      tags:
        - Queries
      summary: Simple Single Corpus Query
      description: "Search a single corpus with a straightforward query request, specifying the corpus key and query parameters. * Specify the unique `corpus_key` identifying the corpus to query. The `corpus_key` is [created in the Vectara Console UI](https://docs.vectara.com/docs/console-ui/creating-a-corpus) or the [Create Corpus API definition](https://docs.vectara.com/docs/api-reference/admin-apis/create-corpus). When creating a new corpus, you have the option to assign a custom `corpus_key` following your preferred naming convention. This key serves as a unique identifier for the corpus, allowing it to be referenced in search requests. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition). * Enter the search `query` string for the corpus, which is the question you want to ask. * Set the maximum number of results (`limit`) to return. **Default**: 10, **minimum**: 1 * Define the `offset` position from which to start in the result set.\nFor more detailed information, see this [Query API guide](https://docs.vectara.com/docs/api-reference/search-apis/search)."
      operationId: searchCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to query.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: query
          in: query
          description: 'The search query string for the corpus, which is the question the user is asking.'
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of top retrieval results to rerank and return.
          schema:
            minimum: 1
            type: integer
            default: 10
        - name: offset
          in: query
          description: The position from which to start in the result set.
          schema:
            minimum: 0
            type: integer
            default: 0
        - name: save_history
          in: query
          description: Indicates whether to save the query in the query history.
          schema:
            type: boolean
        - name: intelligent_query_rewriting
          in: query
          description: '[Tech Preview] Indicates whether to enable intelligent query rewriting. When enabled, the platform will attempt to extract metadata filter and rewrite the query to improve search results. Read [here](https://docs.vectara.com/docs/search-and-retrieval/intelligent-query-rewriting) for more details.'
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: A response to a query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFullResponse'
        '400':
          description: Query request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow querying the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: search
    post:
      tags:
        - Queries
      summary: Advanced Single Corpus Query
      description: "Perform an advanced query on a specific corpus to find relevant results, highlight relevant snippets, and use Retrieval Augmented Generation:\n* Specify the unique `corpus_key` identifying the corpus to query. The `corpus_key` is [created in the Vectara Console UI](https://docs.vectara.com/docs/console-ui/creating-a-corpus) or the [Create Corpus API definition](https://docs.vectara.com/docs/api-reference/admin-apis/create-corpus). When creating a new corpus, you have the option to assign a custom `corpus_key` following your preferred naming convention. This key serves as a unique identifier for the corpus, allowing it to be referenced in search requests. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition). * Customize your search by specifying the query text (`query`), pagination details (`offset` and `limit`), and metadata filters (`metadata_filter`) to tailor your search results. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#query-definition) * Leverage advanced search capabilities like reranking (`reranker`) and Retrieval Augmented Generation (RAG) (`generation`) for enhanced query performance. Generation is opt in by setting the `generation` property. By excluding the property or by setting it to null, the response will not include generation. [Learn more](https://docs.vectara.com/docs/learn/grounded-generation/configure-query-summarization). * Use hybrid search to achieve optimal results by setting different values for `lexical_interpolation` (e.g., `0.025`). [Learn more](https://docs.vectara.com/docs/learn/hybrid-search) * Specify Vectara's RAG-focused LLM (Mockingbird) for the `generation_preset_name`. [Learn more](https://docs.vectara.com/docs/learn/mockingbird-llm) * Use advanced summarization options that utilize detailed summarization parameters such as `max_response_characters`, `temperature`, and `frequency_penalty` for generating precise and relevant summaries. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#advanced-summarization-options)\nFor more detailed information, see [Query API guide](https://docs.vectara.com/docs/api-reference/search-apis/search)."
      operationId: queryCorpus
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus to query.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCorpusRequest'
      responses:
        '200':
          description: A response to a query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFullResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/QueryStreamedResponse'
        '400':
          description: Query request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow querying the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-stream-based-on-body: streamResponse()
      x-fern-streaming:
        format: sse
        stream-condition: $request.stream_response
        response:
          $ref: '#/components/schemas/QueryFullResponse'
        response-stream:
          $ref: '#/components/schemas/QueryStreamedResponse'
      x-fern-sdk-group-name: corpora
      x-fern-sdk-method-name: query
  /v2/query:
    post:
      tags:
        - Queries
      summary: Multiple Corpora Query
      description: "Perform a multipurpose query across to retrieve relevant information from one or more corpora and generate a response using Retrieval Augmented Generation (RAG).\n* Specify the unique `corpus_key` identifying the corpus to query. The `corpus_key` is [created in the Vectara Console UI](https://docs.vectara.com/docs/console-ui/creating-a-corpus) or the [Create Corpus API definition](https://docs.vectara.com/docs/api-reference/admin-apis/create-corpus). When creating a new corpus, you have the option to assign a custom `corpus_key` following your preferred naming convention. This key serves as a unique identifier for the corpus, allowing it to be referenced in search requests. For more information, see [Corpus Key Definition](https://docs.vectara.com/docs/api-reference/search-apis/search#corpus-key-definition). * Customize your search by specifying the query text (`query`), pagination details (`offset` and `limit`), and metadata filters (`metadata_filter`) to tailor your search results. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#query-definition) * Leverage advanced search capabilities like reranking (`reranker`) and opt-in Retrieval Augmented Generation (RAG) (`generation`) for enhanced query performance. Generation is opt in by setting the `generation` property. By excluding the property or by setting it to null, the response will not include generation. [Learn more](https://docs.vectara.com/docs/learn/grounded-generation/configure-query-summarization) * Specify Vectara's RAG-focused LLM (Mockingbird) for the `generation_preset_name`. [Learn more](https://docs.vectara.com/docs/learn/mockingbird-llm) * Use advanced summarization options that utilize detailed summarization parameters such as `max_response_characters`, `temperature`, and `frequency_penalty` for generating precise and relevant summaries. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#advanced-summarization-customization-options) * Customize citation formats in summaries using the `citations` object to include numeric, HTML, or Markdown links. [Learn more](https://docs.vectara.com/docs/api-reference/search-apis/search#citation-format-in-summary)\nFor more detailed information, see this [Query API guide](https://docs.vectara.com/docs/api-reference/search-apis/search)."
      operationId: query
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: A response to a query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFullResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/QueryStreamedResponse'
        '400':
          description: Query request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow querying one or more corpora in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: One or more of the corpora were not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-stream-based-on-body: streamResponse()
      x-fern-streaming:
        stream-condition: $request.stream_response
        format: sse
        response:
          $ref: '#/components/schemas/QueryFullResponse'
        response-stream:
          $ref: '#/components/schemas/QueryStreamedResponse'
      x-fern-sdk-method-name: query
      x-fern-examples:
        - name: Batch
          request:
            stream_response: false
            query: What is a hallucination?
            search:
              corpora:
                - corpus_key: corpus_key
                  metadata_filter: ''
                  lexical_interpolation: 0.005
              context_configuration:
                sentences_before: 2
                sentences_after: 2
              reranker:
                type: customer_reranker
                reranker_id: rnk_272725719
            generation:
              response_language: eng
              enable_factual_consistency_score: true
          response:
            body: { }
        - name: Stream
          request:
            stream_response: true
            query: What is a hallucination?
            search:
              corpora:
                - corpus_key: corpus_key
                  metadata_filter: ''
                  lexical_interpolation: 0.005
              context_configuration:
                sentences_before: 2
                sentences_after: 2
              reranker:
                type: customer_reranker
                reranker_id: rnk_272725719
            generation:
              response_language: eng
              enable_factual_consistency_score: true
          response:
            stream: [ ]
      x-fern-sdk-group-name: queries
  '/v2/corpora/{corpus_key}/upload_file':
    post:
      tags:
        - Upload
      summary: Upload a file to the corpus
      description: "Upload files such as PDFs and Word Documents for automatic text extraction and metadata parsing.\nThe request expects a `multipart/form-data` format containing the following parts:\n* `metadata` - Optionally specifies a JSON object representing any additional metadata to be associated with the extracted document. For example, `'metadata={\"key\": \"value\"};type=application/json'` * `chunking_strategy` - If provided, specifies the chunking strategy for the platform to use. If you do not set this option, the platform uses the default strategy, which creates one chunk per sentence. You can explicitly set sentence chunking with `'chunking_strategy={\"type\":\"sentence_chunking_strategy\"};type=application/json'` or use max chars chunking with `'chunking_strategy={\"type\":\"max_chars_chunking_strategy\",\"max_chars_per_chunk\":200};type=application/json'` * `table_extraction_config` - You can optionally specify whether to extract table data from the uploaded file. If you do not set this option, the platform does not extract tables from PDF files. Example config, `'table_extraction_config={\"extract_tables\":true};type=application/json'` * `file` - Specifies the file that you want to upload. * `filename` - Specified as part of the file field with the file name that you want to associate with the uploaded file. For a curl example, use the following syntax: `'file=@/path/to/file/file.pdf;filename=desired_filename.pdf'`\nFor more detailed information, see this [File Upload API guide.](https://docs.vectara.com/docs/api-reference/indexing-apis/file-upload/file-upload)"
      operationId: uploadFile
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus of which to upload the file.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        description: Upload a file for the Vectara platform to attempt to parse and turn into a document within the corpus. The first part of the multipart request can contain any document metadata to attach to the parsed document. Only one document may be uploaded at a time.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
            encoding:
              metadata:
                contentType: application/json
              chunking_strategy:
                contentType: application/json
              table_extraction_config:
                contentType: application/json
              file:
                contentType: 'application/octet-stream, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.oasis.opendocument.text, application/epub+zip, application/rtf, text/html, text/plain, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, text/markdown'
              filename:
                contentType: text/plain
      responses:
        '201':
          description: The extracted document has been parsed and added to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Upload file request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow uploading a file to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '415':
          description: The media type of the uploaded file is not supported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-examples:
        - code-samples:
            - language: python
              code: "from vectara import Vectara\n\nclient = Vectara(\n    api_key=\"YOUR_API_KEY\",\n    # or\n    client_id=\"YOUR_CLIENT_ID\",\n    client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.upload.file(\n    corpus_key=corpus_key,\n    file=content,\n    filename=slugify(url),\n)\n"
      x-fern-sdk-group-name: upload
      x-fern-sdk-method-name: file
  '/v2/corpora/{corpus_key}/documents':
    post:
      tags:
        - Index
      summary: Add a document to a corpus
      description: "Add a document to a corpus. This endpoint supports two document formats, structured and core.\n* **Structured** documents have a more conventional structure that provide document sections and parts in a format created by Vectara's proprietary strategy automatically. You provide a logical document structure, and Vectara handles the partitioning. * **Core** documents differ in that they follow an advanced, granular structure that explicitly defines each document part in an array. Each part becomes a distinct, searchable item in query results. You have precise control over the document structure and content.\nFor more details, see [Indexing](https://docs.vectara.com/docs/learn/select-ideal-indexing-api)."
      operationId: createCorpusDocument
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the queried corpus.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
      responses:
        '201':
          description: Document added to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Document creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow adding a document to the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '409':
          description: The document already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: create
      x-fern-examples:
        - path-parameters:
            corpus_key: my-corpus-key
          request:
            id: my-doc-id
            type: structured
            sections:
              - id: 1
                title: A nice title.
                text: I'm a nice document section.
                metadata:
                  section: '2025-01-01'
              - id: 2
                title: Another nice title.
                text: I'm another document section on something else.
                metadata:
                  section: '2025-01-02'
            metadata:
              url: https://example.com
          response:
            body: { }
    get:
      tags:
        - Documents
      summary: List the documents in the corpus
      description: Retrieve a list of documents stored in a specific corpus. This endpoint provides an overview of document metadata without returning the full content of each document.
      operationId: listCorpusDocuments
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the queried corpus.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: limit
          in: query
          description: The maximum number of documents to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: metadata_filter
          in: query
          description: 'Filter documents by metadata. Uses the same expression as a query metadata filter, but only allows filtering on document metadata.'
          schema:
            type: string
        - name: page_key
          in: query
          description: Used to retrieve the next page of documents after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocumentsResponse'
        '403':
          description: Permissions do not allow listing documents in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.documents
  '/v2/corpora/{corpus_key}/documents/{document_id}':
    delete:
      tags:
        - Documents
      summary: Delete a document
      description: 'Permanently delete a document identified by its unique `document_id` from a specific corpus. This operation cannot be undone, so use it with caution.'
      operationId: deleteCorpusDocument
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus with the document to delete.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: document_id
          in: path
          description: The document ID of the document to delete. This `document_id` must be percent encoded.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successfully deleted the document.
        '403':
          description: Permissions do not allow deleting a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: delete
    get:
      tags:
        - Documents
      summary: Retrieve a document
      description: 'Retrieve the content and metadata of a specific document, identified by its unique `document_id` from a specific corpus.'
      operationId: getCorpusDocument
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus containing the document to retrieve.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: document_id
          in: path
          description: The document ID of the document to retrieve. This `document_id` must be percent encoded.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow retrieving a document from the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: get
    patch:
      tags:
        - Index
      summary: 'Update document, merging the metadata.'
      description: 'Updates document identified by its unique `document_id` from a specific corpus. The request body metadata is merged with the existing metadata, adding or modifying only the specified fields.'
      operationId: updateCorpusDocument
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus with the document to update.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: document_id
          in: path
          description: The document ID of the document to update. This `document_id` must be percent encoded.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocumentRequest'
      responses:
        '200':
          description: Successfully updated the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow updating a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '429':
          description: Too many concurrent requests. Please retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: update
  '/v2/corpora/{corpus_key}/documents/{document_id}/metadata':
    put:
      tags:
        - Index
      summary: Replace the document metadata.
      description: Replaces metadata of a document identified by its unique `document_id` from a specific corpus.
      operationId: replaceCorpusDocumentMetadata
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus with the document to update.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: document_id
          in: path
          description: The document ID of the document to update. This `document_id` must be percent encoded.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocumentRequest'
      responses:
        '200':
          description: Successfully updated the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Permissions do not allow updating a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '429':
          description: Too many concurrent requests. Please retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: update_metadata
  '/v2/corpora/{corpus_key}/documents/{document_id}/summarize':
    post:
      tags:
        - Documents
      summary: Summarize a document
      description: Summarize a document identified by its unique `document_id` from a specific corpus.
      operationId: summarizeCorpusDocument
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: path
          description: The unique key identifying the corpus containing the document to retrieve.
          required: true
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: document_id
          in: path
          description: The document ID of the document to retrieve. This `document_id` must be percent encoded.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizeDocumentRequest'
      responses:
        '200':
          description: Document summarization response on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizeDocumentResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/SummarizeDocumentStreamedResponse'
        '403':
          description: Permissions do not allow summarizing a document in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or document not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-stream-based-on-body: streamResponse()
      x-fern-sdk-group-name: documents
      x-fern-sdk-method-name: summarize
  /v2/chats:
    post:
      tags:
        - Chats
      summary: Start a chat
      description: Create a chat while specifying the default retrieval parameters used by the prompt.
      operationId: createChat
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: A response to a chat request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatFullResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatStreamedResponse'
        '400':
          description: Chat creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating a chat in the corpus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-stream-based-on-body: streamResponse()
      x-fern-streaming:
        format: sse
        stream-condition: $request.stream_response
        response:
          $ref: '#/components/schemas/ChatFullResponse'
        response-stream:
          $ref: '#/components/schemas/ChatStreamedResponse'
      x-fern-sdk-method-name: create
      x-fern-examples:
        - name: Batch
          request:
            stream_response: false
            query: What is a hallucination?
            search:
              corpora:
                - corpus_key: corpus_key
                  metadata_filter: ''
                  lexical_interpolation: 0.005
              context_configuration:
                sentences_before: 2
                sentences_after: 2
              reranker:
                type: customer_reranker
                reranker_id: rnk_272725719
            generation:
              response_language: eng
              enable_factual_consistency_score: true
              citations:
                style: none
            chat:
              store: true
          response:
            body: { }
        - name: Stream
          request:
            stream_response: true
            query: What is a hallucination?
            search:
              corpora:
                - corpus_key: corpus_key
                  metadata_filter: ''
                  lexical_interpolation: 0.005
              context_configuration:
                sentences_before: 2
                sentences_after: 2
              reranker:
                type: customer_reranker
                reranker_id: rnk_272725719
            generation:
              response_language: eng
              citations:
                style: none
              enable_factual_consistency_score: true
            chat:
              store: true
          response:
            stream: [ ]
      x-fern-sdk-group-name: chats
    get:
      tags:
        - Chats
      summary: List chats
      description: Retrieve a list of previous chats in the Vectara account.
      operationId: listChats
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: The maximum number of results to return in the list.
          schema:
            maximum: 10000
            minimum: 1
            type: integer
            format: int32
            default: 1000
        - name: page_key
          in: query
          description: Used to retrieve the next page of chats after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of chats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatsResponse'
        '403':
          description: Permissions do not allow listing chats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.chats
  /v2/llms:
    post:
      tags:
        - Large Language Models
      summary: Create an LLM
      description: Create a new LLM for use with query and chat endpoints
      operationId: createLLM
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMRequest'
      responses:
        '201':
          description: The LLM has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLM'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating an LLM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: llms
      x-fern-sdk-method-name: create
    get:
      tags:
        - Large Language Models
      summary: List LLMs
      description: 'List LLMs that can be used with query and chat endpoints. The LLM is not directly specified in a query, but instead a `generation_preset_name` is used. The `generation_preset_name` property in generation parameters can be found as the `name` property on the Generations Presets retrieved from `/v2/generation_presets`.'
      operationId: listLLMs
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: filter
          in: query
          description: A regular expression to match names and descriptions of the LLMs.
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to return in the list.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of LLMs after the limit has been reached. This parameter is not needed for the first page of results.
          schema:
            type: string
      responses:
        '200':
          description: List of LLMs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLLMsResponse'
        '403':
          description: Permissions do not allow listing summarizers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: llms
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.llms
  '/v2/llms/{llm_id}':
    get:
      tags:
        - Large Language Models
      summary: Get an LLM
      description: Get details about a specific LLM.
      operationId: getLLM
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: llm_id
          in: path
          description: The name of the LLM to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The LLM details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LLM'
        '403':
          description: Permissions do not allow retrieving this LLM.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: LLM not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: llms
      x-fern-sdk-method-name: get
    delete:
      tags:
        - Large Language Models
      summary: Delete an LLM
      description: Delete a custom LLM connection. Built-in LLMs cannot be deleted.
      operationId: deleteLLM
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: llm_id
          in: path
          description: The name of the LLM to delete.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The LLM was successfully deleted.
        '403':
          description: Permissions do not allow deleting this LLM.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: LLM not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: llms
      x-fern-sdk-method-name: delete
  /v2/generation_presets:
    get:
      tags:
        - Generation Presets
      summary: List generation presets
      description: 'List generation presets used for query or chat requests. Generation presets are the build of properties used to configure generation for a request. This includes the template that renders the prompt, and various generation settings like `temperature`.'
      operationId: listGenerationPresets
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: llm_name
          in: query
          description: Filter presets by the LLM name.
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to return in the list.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of generation presets after the limit has been reached. This parameter is not needed for the first page of results.
          schema:
            type: string
      responses:
        '200':
          description: List of Generation Presets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGenerationPresetsResponse'
        '403':
          description: Permissions do not allow listing generation presets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: generation_presets
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.generation_presets
  '/v2/chats/{chat_id}':
    get:
      tags:
        - Chats
      summary: Get a chat
      description: 'Get a chat summary to view what started the chat, but not subsequent turns.'
      operationId: getChat
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
      responses:
        '200':
          description: A chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '403':
          description: Permissions do not allow retrieving the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: get
    delete:
      tags:
        - Chats
      summary: Delete a chat
      description: Delete a chat and any turns it contains permanently.
      operationId: deleteChat
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
      responses:
        '204':
          description: Successfully deleted the chat.
        '403':
          description: Permissions do not allow deleting the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: delete
  '/v2/chats/{chat_id}/turns':
    post:
      tags:
        - Chats
      summary: Create a new turn in the chat
      description: 'Create a new turn in the chat. Each conversation has a series of `turn` objects, which are the sequence of message and response pairs that make up the dialog.'
      operationId: createChatTurn
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: A response to a chat request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatFullResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatStreamedResponse'
        '400':
          description: Turn creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating a turn in the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-stream-based-on-body: streamResponse()
      x-fern-streaming:
        format: sse
        stream-condition: $request.stream_response
        response:
          $ref: '#/components/schemas/ChatFullResponse'
        response-stream:
          $ref: '#/components/schemas/ChatStreamedResponse'
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: createTurns
    get:
      tags:
        - Chats
      summary: List turns in a chat
      description: List all turns in a chat to see all message and response pairs that make up the dialog.
      operationId: listChatTurns
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
      responses:
        '200':
          description: List of turns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatTurnsResponse'
        '403':
          description: Permissions do not allow listing turns in the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Corpus or chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: listTurns
  '/v2/chats/{chat_id}/turns/{turn_id}':
    get:
      tags:
        - Chats
      summary: Get a turn
      description: 'Get a specific turn from a chat, which is a message and response pair from the conversation.'
      operationId: getChatTurn
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
        - name: turn_id
          in: path
          description: The ID of the turn.
          required: true
          schema:
            pattern: trn_.+$
            type: string
      responses:
        '200':
          description: The turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '403':
          description: Permissions do not allow getting the turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Corpus, chat, or turn not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: getTurn
    delete:
      tags:
        - Chats
      summary: Delete a turn
      description: Delete a turn from a chat. This will delete all subsequent turns in the chat.
      operationId: deleteChatTurn
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
        - name: turn_id
          in: path
          description: The ID of the turn.
          required: true
          schema:
            pattern: trn_.+$
            type: string
      responses:
        '204':
          description: Successfully deleted a turn.
        '403':
          description: Permissions do not allow deleting the turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Corpus, chat, or turn not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: deleteTurn
    patch:
      tags:
        - Chats
      summary: Update a turn
      description: Update a turn; used to disable or enable a chat.
      operationId: updateChatTurn
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: chat_id
          in: path
          description: The ID of the chat.
          required: true
          schema:
            pattern: cht_.+$
            type: string
        - name: turn_id
          in: path
          description: The ID of the turn.
          required: true
          schema:
            pattern: trn_.+$
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTurnRequest'
      responses:
        '200':
          description: Successfully modified the turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '403':
          description: Permissions do not allow updating the turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Corpus, chat, or turn not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: chats
      x-fern-sdk-method-name: updateTurn
  /v2/evaluate_factual_consistency:
    post:
      tags:
        - Factual Consistency Evaluation
      summary: Evaluate factual consistency
      description: 'Evaluate the factual consistency of a generated text (like a summary) against source documents. This determines how accurately the generated text reflects the information in the source documents, helping identify potential hallucinations or misrepresentations.'
      operationId: evaluateFactualConsistency
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluateFactualConsistencyRequest'
      responses:
        '200':
          description: The factual consistency evaluation results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateFactualConsistencyResponse'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow factual consistency evaluation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Language not supported by the factual consistency service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: factual-consistency
      x-fern-sdk-method-name: evaluate
  /v2/encoders:
    post:
      tags:
        - Encoders
      summary: Create an encoder
      description: Create a new encoder.
      operationId: createEncoder
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEncoderRequest'
      responses:
        '201':
          description: The encoder has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Encoder'
        '400':
          description: Encoder creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating an encoder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: encoders
      x-fern-sdk-method-name: create
    get:
      tags:
        - Encoders
      summary: List encoders
      description: Encoders are used to store and retrieve from a corpus.
      operationId: listEncoders
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: filter
          in: query
          description: A regular expression against encoder names and descriptions.
          schema:
            type: string
            example: vectara.*
        - name: limit
          in: query
          description: The maximum number of results to return in the list.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of encoders after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of encoders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEncodersResponse'
        '403':
          description: Permissions do not allow listing encoders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: encoders
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.encoders
  /v2/rerankers:
    get:
      tags:
        - Rerankers
      summary: List rerankers
      description: Rerankers are used to improve the ranking (ordering) of search results.
      operationId: listRerankers
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: filter
          in: query
          description: A regular expression against reranker names and descriptions.
          schema:
            type: string
            example: vectara.*
        - name: limit
          in: query
          description: The maximum number of rerankers to return in the list.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of rerankers after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of rerankers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRerankersResponse'
        '403':
          description: Permissions do not allow listing rerankers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: rerankers
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.rerankers
  /v2/table_extractors:
    get:
      tags:
        - Table Extractors
      summary: List supported table extractors
      description: Table extractors are used to extract tabular data from documents during indexing.
      operationId: listTableExtractors
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      responses:
        '200':
          description: List of supported table extractors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTableExtractorsResponse'
        '403':
          description: Permissions do not allow listing table extractors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: table_extractors
      x-fern-sdk-method-name: list
  /v2/hallucination_correctors:
    get:
      tags:
        - Hallucination Correctors
      summary: List hallucination correctors
      description: 'Retrieves a list of available hallucination correctors used for detecting and correcting hallucinations in AI-generated content. This endpoint supports filtering by name or description, pagination, and metadata for navigating large result sets.'
      operationId: listHallucinationCorrectors
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: filter
          in: query
          description: A regular expression applied to the name and description fields. Use this to return only hallucination correctors that match specific keywords or naming conventions.
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of hallucination correctors to return in the list. Defaults to 10. Range is between 1 and 100.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Retrieves the next page of hallucination correctors after reaching the limit.
          schema:
            type: string
      responses:
        '200':
          description: List of hallucination correctors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHallucinationCorrectorsResponse'
        '403':
          description: Permissions do not allow listing hallucination correctors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: hallucination_correctors
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.hallucinationCorrectionModels
  /v2/hallucination_correctors/correct_hallucinations:
    post:
      tags:
        - Hallucination Correctors
      summary: Corrects hallucinations in generated text based on source documents
      description: This endpoint identifies information in generated text that is not supported by the provided source documents and offers corrections with minimal changes. This can be used standalone or as part of a RAG workflow where the HHEM score indicates potential hallucinations.
      operationId: correctHallucinations
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HallucinationCorrectionRequest'
        required: true
      responses:
        '200':
          description: Successfully analyzed the text for hallucinations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HallucinationCorrectionResponse'
        '400':
          description: Request was malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow hallucination correction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: hallucination_correctors
      x-fern-sdk-method-name: hallucinationCorrection
  /v2/jobs:
    get:
      tags:
        - Jobs
      summary: List jobs
      description: List jobs for the account. Jobs are background processes like replacing the filterable metadata attributes.
      operationId: listJobs
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: corpus_key
          in: query
          description: The unique key identifying the corpus with the job.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/CorpusKey'
        - name: after
          in: query
          description: Filter by jobs created after a particular date-time.
          schema:
            type: string
            format: date-time
        - name: state
          in: query
          description: Filter by jobs in particular states.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/JobState'
        - name: limit
          in: query
          description: The maximum number of jobs to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of jobs after the limit has been reached.
          schema:
            type: string
      responses:
        '200':
          description: List of jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
        '403':
          description: Permissions do not allow listing jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: jobs
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.jobs
  '/v2/jobs/{job_id}':
    get:
      tags:
        - Jobs
      summary: Get a job by ID
      description: Get a job by a specific ID. Jobs are background processes like replacing the filterable metadata attributes.
      operationId: getJob
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: job_id
          in: path
          description: The ID of the job to get.
          required: true
          schema:
            pattern: job_.+$
            type: string
      responses:
        '200':
          description: A job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '403':
          description: Permissions do not allow retrieving a job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: jobs
      x-fern-sdk-method-name: get
  /v2/users:
    post:
      tags:
        - Users
      summary: Create a user in the current customer account
      description: Create a user for the current customer account.
      operationId: createUser
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: The created user.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/User'
                  - properties:
                      one_time_code:
                        type: string
                        description: 'A one time code for the newly created user to create a password. This is optional, and is only populated for some Vectara deployments.'
                      one_time_code_link:
                        type: string
                        description: 'The link where to enter the `one_time_code`. This is optional, and is only populated for some Vectara deployments.'
        '400':
          description: User creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow retrieving a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: create
    get:
      tags:
        - Users
      summary: List users in the account
      description: Lists all users in the account.
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: The maximum number of users to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of users after the limit has been reached.
          schema:
            type: string
        - name: corpus_key
          in: query
          description: Filter users by access to this corpus.
          schema:
            $ref: '#/components/schemas/CorpusKey'
      responses:
        '200':
          description: List of users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        '403':
          description: Permissions do not allow listing users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.users
  '/v2/users/{username}':
    get:
      tags:
        - Users
      summary: Get a user
      description: 'Get a user and view details like the email, username, and associated roles.'
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: username
          in: path
          description: Specifies the user ID that to retrieve. Note that the username must be percent encoded.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Permissions do not allow retrieving the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: get
    patch:
      tags:
        - Users
      summary: Update a user
      description: Update details about a user such as role names.
      operationId: updateUser
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: username
          in: path
          description: Specifies the user ID to update. Note that the username must be percent encoded.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: New user after modification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Permissions do not allow updating the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: update
    delete:
      tags:
        - Users
      summary: Delete a user
      description: Delete a user from the account.
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: username
          in: path
          description: Specifies the user ID to delete. Note that the username must be percent encoded.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User was successfully deleted.
        '403':
          description: Permissions do not allow deleting the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: delete
  '/v2/users/{username}/reset_password':
    post:
      tags:
        - Users
      summary: Reset the password for a user
      description: Reset the password for a user.
      operationId: resetUserPassword
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: username
          in: path
          description: Specifies the user ID to update. Note that the username must be percent encoded and URI safe.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User was sent the password reset email.
          content:
            application/json:
              schema:
                type: object
                properties:
                  one_time_code:
                    type: string
                    description: 'A one time code that can be used to reset the password. This is optional, and is only populated for some Vectara deployments.'
                  one_time_code_link:
                    type: string
                    description: 'The link where to enter the `one_time_code`. This is optional, and is only populated for some Vectara deployments.'
        '403':
          description: Permissions do not allow resetting the user password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: resetPassword
  /v2/api_keys:
    post:
      tags:
        - API Keys
      summary: Create an API key
      description: An API key is to authenticate when calling Vectara APIs.
      operationId: createApiKey
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: 'An API key object, used to query the Vectara API with the assigned roles.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          description: API key creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating the API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: create
    get:
      tags:
        - API Keys
      summary: List API keys
      description: Retrieve a list of API keys for the customer account with optional filtering.
      operationId: listApiKeys
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: Max number of API keys to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: page_key
          in: query
          description: Used to retrieve the next page of API keys after the limit has been reached.
          schema:
            type: string
        - name: corpus_key
          in: query
          description: Filters the API keys to only those with permissions on the specified corpus key.
          schema:
            $ref: '#/components/schemas/CorpusKey'
        - name: api_key_role
          in: query
          description: Filter API keys by their role.
          schema:
            $ref: '#/components/schemas/ApiKeyRole'
      responses:
        '200':
          description: An array of API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
        '400':
          description: API key list request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow listing API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.page_key
        next_cursor: $response.metadata.page_key
        results: $response.api_keys
  '/v2/api_keys/{api_key_id}':
    get:
      tags:
        - API Keys
      summary: Get an API key
      description: Retrieve details of a specific API key by its ID.
      operationId: getApiKey
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: api_key_id
          in: path
          description: The ID of the API key.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '403':
          description: Permissions do not allow getting this API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: get
    patch:
      tags:
        - API Keys
      summary: Update an API key
      description: Update an API key such as the roles attached to the key.
      operationId: updateApiKey
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: api_key_id
          in: path
          description: The ID of the API key.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequest'
      responses:
        '200':
          description: The API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '403':
          description: Permissions do not allow getting this API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: update
    delete:
      tags:
        - API Keys
      summary: Delete an API key
      description: Delete API keys to help you manage the security and lifecycle of API keys in your application.
      operationId: deleteApiKey
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: api_key_id
          in: path
          description: The ID of the API key.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The API key was deleted.
        '403':
          description: Permissions do not allow deleting this API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: apiKeys
      x-fern-sdk-method-name: delete
  /v2/app_clients:
    post:
      tags:
        - Application Clients
      summary: Create an App Client
      description: An App Client is used for OAuth 2.0 authentication when calling Vectara APIs.
      operationId: createAppClient
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppClientRequest'
      responses:
        '201':
          description: 'An App Client object, used to query the Vectara API with the assigned roles.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClient'
        '400':
          description: App Client creation request was malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Permissions do not allow creating the App Client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-fern-sdk-group-name: appClients
      x-fern-sdk-method-name: create
    get:
      tags:
        - Application Clients
      summary: List App Clients
      description: Retrieve a list of application clients configured for the customer account.
      operationId: listAppClient
      parameters:
        - $ref: '#/components/parameters/RequestTimeout'
        - $ref: '#/components/parameters/RequestTimeoutMillis'
        - name: limit
          in: query
          description: The maximum number of App Clients to return at one time.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: filter
          in: query
[...]
